<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<img src="/images/ayusharma/ayu1.png" width="600" style="display:block; margin:auto;">
		<h5>Ayush Sharma - Portfolio</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
		<span style="font-weight:400;">Overview: </span> Portfolio is very important to represnt intellectual property. My portfolio  have documentation of all my work and knowledge.
		</p>
		<h5>About Portfolio</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
		I made first portfolio in October 2014 in my 2nd year of undergraduation using Google's Web Starter Kit. I applied differnet places for internship and got selected in many of them. Most of them are TU Delft, Amsterdam, The Netherlands , Innovaccer in Noida and a remote internship in open source community Oncoblocks. Web portfolio played a important role for finding creative people of the instrest similar to me.
		</p>
		<h5>Highlights</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			This sections contains the final screen of the project which has been designed. 
		</p>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/ayusharma/ayu1.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/ayusharma/ayu2.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/ayusharma/ayu3.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/ayusharma/ayu4.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/ayusharma/ayu5.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/ayusharma/ayu6.png">
			</div>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
				<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
				<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
				<span style="color: rgba(84, 138, 86, 1);">JS</span>
				<span style="color: rgba(30, 65, 111, 1);">Gulp</span>
				<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
		</p>
		<h5>Learning &amp; Experience</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">

			<span><i class="fa fa-angle-right"></i> Learned about Portfolioes.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Important points to be mention.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> How to divide Portfolio in different sections.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Learned Google's Web Starter Kit.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Domain Registration.</span>
		</p>
		<h5>Future Work</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			I have made my new portfolio on Materialise CSS using Angular JS.
		</p>
		<h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="http://ayusharma.in/old" target="_blank">Web</a><br>
			<a href="https://github.com/ayusharma/portfolio" target="_blank">Github</a>
		</p>

	</div>
</div>