<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<img src="images/bloodcollective/blood.png" width="600" style="display:block; margin:auto;">
		<h5>Blood Collective - Community Driven Blood Donation Network</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<br>
			<b style="width:100%; display:block; text-align:center;">“Despite being a country with a population of 1.2 billion, India faces a blood shortage of 3 million units. ”</b>
			<span style="font-weight:400;">Problem Statement: </span> 
			In India it is a rare chance that you will get blood when you need it. Some people do not want to donate blood, while some who are willing to do it find it frustrating to go to the blood banks criteria, fill forms and donate. Tapping into this community of voluntary blood donors therefore remains a challenge. The current gap between the demand for blood and its supply also leaves scope for touts, agents and illegal, unsafe blood donation. 
			<br>

			According to a 2012 World Health Organization (WHO), every country needs at least a one percent blood reserve. India, with its 1.2 billion population, needs 12 million units of blood annually but collects only nine million of which 70 percent is from voluntary blood donors while the remaining 30 percent is from family/replacement donors.  
			<br>

			Even though most blood collection is done from voluntary donors, the voluntary blood donors network remains fragmented and inaccessible to a large community in the time of need. The Blood Collective smart phone application aims to tap into this existing network of blood donors and bring them at your fingertips. 

			<br>
			<span style="font-weight:400;">Solution:</span> 
			<b style="width:100%; display:block; text-align:center;">“If you need blood, connect directly with the blood donors and see if they are willing to offer help.”</b>
			Voluntary blood donation is considered the highest form of humanitarian service as it is done without the expectation of knowing who it will eventually help. Each unit of blood donation helps many patients as blood is usually segregated into RBCs, Platelets, WBCs and Plasma and given away as per requirement. But then there are yet not enough people who opt to donate blood. 
		</p>
		<h5>MIT Media Lab Design Innovation Workshop</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			The Media Lab India Initiative is an outreach program by students and alumni from the MIT Media Lab to bring together a community of makers and creators across India, and to facilitate collaboration and sharing of ideas across boundaries of disciplines, institutions and culture. The goal is to create an environment much like at the MIT Media Lab, an environment that fosters creative exploration of ideas.
		</p>
		<h5>The Team</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			Combining different skills, each team member contributed differently to create the alpha version of the app and test it during the workshop. While IT industry professional Pragnendra Rahevar (32) floated the idea and shared the concept, National Institute of Design graduate Akshah Ish (27) designed the complete user interface of the application. The core development of the app has been done by <b>Ayush Sharma (20) of Arya College of Engineering and IT, Jaipur</b>, with necessary research and support provided by Abhimanyu Kumar (20) of Haldia Institute of Technology, West Bengal. 
		</p>
		<h5>Highlights MVP</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
				The Media Lab India Initiative is an outreach program by students and alumni from the MIT Media Lab to bring together a community of makers and creators across India, and to facilitate collaboration and sharing of ideas across boundaries of disciplines, institutions and culture. The goal is to create an environment much like at the MIT Media Lab, an environment that fosters creative exploration of ideas.
		</p>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/bloodcollective/mbc1.jpeg">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/bloodcollective/mbc2.jpeg">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/bloodcollective/mbc3.jpeg">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/bloodcollective/mbc4.jpeg">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/bloodcollective/mbc5.jpeg">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/bloodcollective/mbc6.jpeg">
			</div>
		</div>
		<h5>Highlights Google Play</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			Pragnendra took our initiative forward and developed the following application with his team.
		</p>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/bloodcollective/bcg1.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/bloodcollective/bcg2.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/bloodcollective/bcg3.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/bloodcollective/bcg4.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/bloodcollective/bcg5.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/bloodcollective/bcg6.png">
			</div>
		</div>
		<h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
			We developed a MVP during workshop for the Android Platform with following features:
			<br>
			<span><i class="fa fa-angle-right"></i> Real time tracking of Blood Donors.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Profile of Blood donors and receivers.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Direct Messages.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Spread awareness for Blood Donation.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Share contact information.</span>

		</div>
		<h5>Technology Stack</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
			<span style="color: rgba(83, 86, 82, 1);">Apache Cordova</span>
			<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
		</p>
		<h5>Learning &amp; Experience</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			This workshop is the awesome workshop I have ever attend. Solve my various problems and doubts with introduction to MIT Media Lab community. I was in Civiv Innovation track under the supervision of Rahul Bhargva, Alexis Hope and Sands Fish.
			<br>
			<span><i class="fa fa-angle-right"></i> A field trip to Gujrat's largest slum to identify the existed problems.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Analysed Rag Picking Systems.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Visited Mahatma Gandhi Ashram in Sabarmati to know about the story of truth and non-violence in freedom movement of India.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Visited Toilet Cafe,Learn about Sanitation Movement in India and how Bio gas could be used as Fuel.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Visited Seva Cafe - A place where peole come and servers their services, passion without any exchange of money.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Group Discussions, Pitching Methods, Poster Making, Product Designin and Design Sysnthesis.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Learn about infographics, open data sets and interactive visualizations.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Use of Google APIs.</span>

		</p>
		<h5>Future Work</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			Our application is also hilighted by <b>Innovation</b> A blog by independent journlist <b>Vantika Dixit</b>.
			<a href="http://vantikadixit.com/index.php/communication/582-new-app-allows-real-time-search-for-voluntary-blood-donors-in-vicinity#.VTSBwpohTX8.twitter" target="_blank">Link</a>
			<br>
			The team is developing the application further in terms of improving its user interface, adding more features to it, and carrying out basic user testing.
			<br>
			The Blood Collective mobile app has a huge social potential to connect and build a large network of voluntary blood donors with the requesters, allowing the common man to save lives and be human. 
		</p>
		<h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="http://ayusharma.in/bloodcollective.apk" target="_blank">Download APK MVP</a><br>
			<a href="https://play.google.com/store/apps/details?id=com.bloodcollectives&hl=en" target="_blank">Google Play</a><br>
			<a href="https://github.com/ayusharma/bloodcollectiveionic" target="_blank">Github MVP</a><br>
			<a href="" target="_blank">Certificate</a>
		</p>
	</div>
</div>