<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<img src="images/canceranalysis/cancer.png" width="600" style="display:block; margin:auto;">
		<h5>Cancer Genome Analysis</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="font-weight:400;">Problem Statement: </span>
			<br>
			<b style="width:100%; display:block; text-align:center;">“Over 20 thousand of people die of Cancer everyday”</b>
			Main aim of any software to solve real life problem and provide better ways of life. It is a very big problem to solve and make world a cancer free place.
			Present cancer analysis methods have following problems:
			<br>
			<span><i class="fa fa-angle-right"></i> Diagnosis and analysis of results take a lot of time.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Require a research center and a laboratory.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Results can not be generalised on a large set of patient data.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Genomic/ Cancer data in a very large amount to analyse for a doctor.</span>
			<br>
			<b style="width:100%; display:block; text-align:center;">“Imagine getting survival rate of cancer treatment in seconds instead of days without owning a research lab.”</b>
			<span style="font-weight:400;">Solution: </span> 
			<br>
			Our aim to build a powerful tool for cancer which will distinguish between people who become sick and those remain healthy, between patients who respond to the treatment and those whose condition is worsen, between pathogens that cause outbreaks and those are harmless.
			Our project would cover following aspects:
			<br>
			<span><i class="fa fa-angle-right"></i> Decrease the cost of research and increase the information.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Prediction of the patients who responds to the cancer treatments.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Forecast the treatment success rate.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Prediction of Optimal treatment pathway.</span>
		</p>
		<h5>OncoBlocks</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			​NCI has embarked on the Exceptional Responders Initiative to understand the molecular underpinnings of exceptional responses to treatment, primarily via chemotherapy. As a proof of principle, there was a search of NCI’s Cancer Therapy Evaluation Program phase II trial database over a period of 10 years (2002­-2012) in which about 100 cases were identified as a demonstration that the types of cases needed for the ERI did exist.

		</p>
		<h5>Exceptional Responder Initative</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			​NCI has embarked on the Exceptional Responders Initiative to understand the molecular underpinnings of exceptional responses to treatment, primarily via chemotherapy. As a proof of principle, there was a search of NCI’s Cancer Therapy Evaluation Program phase II trial database over a period of 10 years (2002­-2012) in which about 100 cases were identified as a demonstration that the types of cases needed for the ERI did exist.
		</p>
		<h5>The Team</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			I worked under the supervision of Prof. Dr. Ethan Cermai.
		</p>
		<h5>Highlights</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			This sections contains the final screen of the project which has been designed. 
		</p>
		<iframe src="https://drive.google.com/file/d/0B3Rw4slBaBmXVTlrV0x6RExzWjA/preview" width="640" height="480"></iframe>
		<br><br>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c2.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c3.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c4.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c5.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c6.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c7.png">
			</div>
		</div>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c8.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c9.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c10.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c11.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c12.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c13.png">
			</div>
		</div>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c14.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c15.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c16.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c17.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c18.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/canceranalysis/c19.png">
			</div>
		</div>
		
		<h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
			Project comprised three parts as follows: 
			<br>
			<span style="font-weight:400;">Single Patient Data Analysis </span> 
			<br>
			<span><i class="fa fa-angle-right"></i> Tool for Single Patient data mining.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Representation of Patients with cancer type, stages and timeline.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Interactive visualization of Cancer treatment biopsies and data representation.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Analysis of biopsies result according to Chromosome Number, strand value and Gene present.</span>
			<br>
			<span style="font-weight:400;">Multiple Patient Data Analysis </span> 
			<br>
			<span><i class="fa fa-angle-right"></i> Patient representation with timeline and cancer stages and type.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Survival Rate of Patients</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Respond Scale of Exceptional Responder via visualizations.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Provide the advanced analytics.</span>
			<br>
			<span style="font-weight:400;"> Insertion &amp; Deletion</span> 
			<br>
			<span><i class="fa fa-angle-right"></i> Interactive visualizations of Insertion and Deletion for genetic data. </span>
			<br>
			<span><i class="fa fa-angle-right"></i> Representation of data in Pie charts or Bar charts.</span>
			<br>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="color:rgba(91, 67, 134, 1);">HTML</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
			<span style="color: rgba(231, 158, 53, 1);">D3 JS</span>
			<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
			<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
			<span style="color:rgba(30, 65, 111, 1);">GIMP</span>
		</p>
		<h5>Learning &amp; Experience</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			Bioinformatics projects require a good knowledge of infographics and data analytics skill.
			<br>
			<span><i class="fa fa-angle-right"></i> Learned about infographics and data analyics methods..</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Learned the methods of data visualization using D3.js.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Learned about Google Geonomics and other intiatives like BioJS, Global Alliances for Geonomics and Health</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Cancer, it's stages, type and causes of tumor.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> DNA, Genes and Protein Systhesis</span>
			<br>
		</p>
		<h5>Future Work</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="font-weight:400;"> Future Aspects </span> 
			<br>
			<span><i class="fa fa-angle-right"></i> Sign IN &amp; Sign Up criteria.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Profiling of the user/researcher, patient and exceptional responders.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Facility to import more visualization techniques.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Advance search and filtering of the datasets.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Addition of more visualization libraries like highcharts and grafana.</span>
		</p>
		<h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="http://ayusharma.in/exception-responder-proto/app/#/" target="_blank">Web</a><br>
			<a href="https://github.com/ayusharma/exception-responder-proto" target="_blank">Github</a><br>
			<a href="images/canceranalysis/report.pdf" target="_blank">Project Report</a><br>
		</p>
	</div>
</div>