<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
	<img src="images/firstapi/api.png" width="600" style="display:block; margin:auto;">
		<h5>My First API - JSON GET using php</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="font-weight:400;">Overview: </span> This was the my first attempt to learn about REST API in web technology and to generate JSON data of the database. I used php along with MySQL database on an Ubuntu Machine.
		 </p>
		<!--  <h5>Innovaccer Summer Enterprenur Program</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="font-weight:400;">About InnovAccer: </span> InnovAccer is a Silicon Valley-based data-science startup founded by IIT/IIM alumni to provide insights from data and build decision-support frameworks for world's best organizations, think tanks, and research houses like Harvard, Stanford, MIT, United Nations. Our Product DataShop been awarded in the league of top 10 products by NASSCOM in 2014.
			<br>
			<span style="font-weight:400;">About InnovAccer Summer Enterprenur Program: </span> We feel that India is a land of opportunity as well as host of intellectual talent. We need the right cross-cultural, diverse and motivated environment to build great products. This summer, we want to bring together world's best software, design and data talent studying at world's best institutes under one roof of InnovAccer for 10 weeks to build and ship a product end-to-end.
		</p>
		<h5>The Team</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	I worked in team of 4 members ( <span style="font-weight:400;"> Ayush Sharma </span>, Siddartha Sahai, Varun Bahrdwaj &amp; Nataliya Amirova ) under the suvervision of InnovAccer developers.
		 	
		 </p> -->
		<h5>Highlights</h5>
		<hr>
		<div class="row">
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	    </div>
	    <h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
		 	<span><i class="fa fa-angle-right"></i> Handle Simple GET request.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Host independets requests.</span>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
			<span style="color:rgba(142, 139, 139, 1);">PHP</span>
			<span style="color: rgba(30, 65, 111, 1);">Mysql</span>
			<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>

		 </p>
		 <h5>Learning &amp; Experience</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	This is my first attempt to implement a REST API.
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned about Represenational State API</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> GET, PUT, POST, PATCH , DELETE, OPTIONS</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Connection to MySQL DB.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Differnet part of requests Packets, Header, Body</span>
		 </p>
		<h5>Future Work</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	My First Api has been build in PHP and in future advnaced php framework Laravel, Cake PHP could be used.
		 </p>
		 <h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="">Web</a><br>
			<a href="">Gitlab</a><br>
			<a href="">Certificate </a><br>
			<a href="">Certificate</a>
		</p>

	</div>
</div>