<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<img src="images/firstapi/api.png" width="600" style="display:block; margin:auto;">
		<h5>My First API - JSON GET using php</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="font-weight:400;">Overview: </span> This was the my first attempt to learn about REST API in web technology and to generate JSON data of the database. I used php along with MySQL database on an Ubuntu Machine.
		</p>
		<h5>Highlights</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			This sections contains the final screen of the project which has been designed. 
		</p>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="images/firstapi/fapi1.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="images/firstapi/fapi2.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="images/firstapi/fapi3.png">
			</div>
		</div>
		<h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
			<span><i class="fa fa-angle-right"></i> Handle Simple GET request.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Host independets requests.</span>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="color:rgba(142, 139, 139, 1);">PHP</span>
			<span style="color: rgba(30, 65, 111, 1);">Mysql</span>
			<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
		</p>
		<h5>Learning &amp; Experience</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			This is my first attempt to implement a REST API.
			<br>
			<span><i class="fa fa-angle-right"></i> Learned about Represenational State API</span>
			<br>
			<span><i class="fa fa-angle-right"></i> GET, PUT, POST, PATCH , DELETE, OPTIONS</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Connection to MySQL DB.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Differnet part of requests Packets, Header, Body</span>
		</p>
		<h5>Future Work</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			My First Api has been build in PHP and in future advnaced php framework Laravel, Cake PHP could be used.
		</p>
		<h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="http://pixelcount.net/coadjuvancy" target="_blank">Web</a><br>
			<a href="https://github.com/ayusharma/php-json" target="_blank">Gitlab</a><br>
		</p>
	</div>
</div>