<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
	<img src="images/igniters/logotryit.jpg" width="600" style="display:block; margin:auto; margin:100px auto 100px auto;">
		<h5>Igniters - Open Learning Platform</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="font-weight:400;">First Year - First Semester:</span> <br>
		 	<span style="font-weight:400;">Problem Statement: </span> When I joined college, surprisingly found that there is a lot of text books, practical mauals and notebooks. It's too heavy to carry. I thought about a digital platfrom to reduce the requirements of books to carry. Even in holidays, I have to take some text books to prepare for exams. 
		 	<span style="font-weight:400;">Solution: </span> 
		 	From the childhood I am open to learning. Learn new things and quickly implement them. I took this project to make introduction to the web and technologies. I started building the website by seeing MOOC. 
		 	<br>
		 	I made a online platform to access general informatin about classes along with the class notes and practical manuals.
		 </p>
		<h5>Highlights</h5>
		<hr>
		<div class="row">
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="Small wireframe before starting of project." width="100%" src="/images/igniters/ign0.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="Welcome page." width="100%" src="/images/igniters/ign1.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="Bottom section of home page." width="100%" src="/images/igniters/ign2.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="Menu representation in schedule form." width="100%" src="/images/igniters/ign3.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="Take a look at subject section." width="100%" src="/images/igniters/ign4.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="Final lab manual as Image." width="100%" src="/images/igniters/ign5.png">
	      </div>
	    </div>
	    <h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
		 	<span><i class="fa fa-angle-right"></i> An open learning platfrom.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Community Based.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Class Notes</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Lab Manuals</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> General infromation</span>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="color:rgba(228, 78, 37, 1);">HTML</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS</span>
			<span style="color: rgba(84, 138, 86, 1);">JS</span>
			<span style="color:rgba(48, 38, 126, 1);">Photoshop</span>
			<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
		 </p>
		 <h5>Learning &amp; Experience</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	Designing an application with amimation take a lot of time to think and process.
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned problem solving skills</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Wireframes and prototyping.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> First time hands on Coding.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Used Adobe Dreamweaver for development.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned HTML, CSS &amp; JS.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Debugging in Browser</span>
		 
		 </p>
		<h5>Future Work</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	It was my first project in college for learning. Due to resources and support I have to stop the project.
		 </p>
		 <h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="">Web</a><br>
			<a href="">Github</a><br>
		</p>

	</div>
</div>