<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
	<img src="images/inloop/inloop.png" width="600" style="display:block; margin:auto;">
		<h5>Inloop - Better Discussions</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="font-weight:400;">Problem Statement: </span> Communication among the project memeber is very necessary for an effective and efficent product. Even Slack, Basecamp and Yammer solved the peoblem of communication with an email alternative but discovery of content was also a tough task. When a project is to be categorised in differnet groups like design and development and the new content is to be shared among team member for the discussion in real time and discussion leads to mesh.
		 	<br>
		 	<span style="font-weight:400;">Solution: </span> We created inloop in <a href="#">InnovAccer </a> Summer Enterprenur Program to solve how teams share and discuss things they love. In Inloop, you can discover new content, push articles to personalized groups and discuss around entities. 
		 </p>
		 <h5>Innovaccer Summer Enterprenur Program</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="font-weight:400;">About InnovAccer: </span> InnovAccer is a Silicon Valley-based data-science startup founded by IIT/IIM alumni to provide insights from data and build decision-support frameworks for world's best organizations, think tanks, and research houses like Harvard, Stanford, MIT, United Nations. Our Product DataShop been awarded in the league of top 10 products by NASSCOM in 2014.
			<br>
			<span style="font-weight:400;">About InnovAccer Summer Enterprenur Program: </span> We feel that India is a land of opportunity as well as host of intellectual talent. We need the right cross-cultural, diverse and motivated environment to build great products. This summer, we want to bring together world's best software, design and data talent studying at world's best institutes under one roof of InnovAccer for 10 weeks to build and ship a product end-to-end.
		</p>
		<h5>The Team</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	I worked in team of 4 members ( <span style="font-weight:400;"> Ayush Sharma </span>, Siddartha Sahai, Varun Bahrdwaj &amp; Nataliya Amirova ) under the suvervision of InnovAccer developers.
		 	
		 </p>
		 <h5>Highlights</h5>
		<hr>
		<div class="row">
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	    </div>
	    <h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
		 	<span><i class="fa fa-angle-right"></i> Discover Content</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Follow publications</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Make and Join Groups</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Share new content</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Real time discussion around content</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Communicate with your colleagues</span>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
			<span style="color:rgba(30, 65, 111, 1);">LESS</span>
			<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
			<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
			<span style="color: rgba(189, 189, 188, 1);">Flask</span>
			<span style="color: rgba(112, 116, 119, 1);">Google Cloud</span>
			<span style="color:rgba(225, 88, 85, 1);">Debian Wheezy</span>
			<span style="color: rgba(30, 127, 166, 1);">Cassandra</span>
			<span style="color: rgba(78, 54, 42, 1);">Mongo</span>
			<span style="color: rgba(162, 32, 25, 1);">Redis</span>
			<span style="color:rgba(30, 65, 111, 1);">Socket IO</span>
		 </p>
		 <h5>Learning &amp; Experience</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	Handling a project at Innovaccer require a lot of skills. It is an application with the objective of secure and easy flow of content among the team members.
			I had following responsibilities:
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> I worked as Full Stack Web Developer.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> UI/UX development of application in LESS, AngularJS and HTML</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> API development and management in Flask and MongoDB using the Mongoengine ORM.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Cookie and Token based API security.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Configuration of project on Google Cloud.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Use of SocketIO with Flask and AngularJS</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Knowledge of Python Goose and Open Calaias</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Source code management</span>
		 
		 </p>
		<h5>Future Work</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	Inloops has been selected for the project of Knowledge Commons under UNESCO. I also got a pre placement offer to join InnovAccer.
		 </p>
		 <h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="">Web</a><br>
			<a href="">Gitlab</a><br>
			<a href="">Certificate </a><br>
			<a href="">Certificate</a>
		</p>

	</div>
</div>