<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
	<img src="images/kiwi/kiwi.png" width="600" style="display:block; margin:auto;">
		<h5>Kiwi - A Dictionary</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="font-weight:400;">Overview: </span> An online educational dictionary application for <a href="">Android</a>, <a href="">Web</a> and <a href="">Firefox OS</a> which work on the APIs of Wordnik. App helps to improve your vocabulary skills by challenging yourself and others with different activities and word games.
		 </p>
		 <h5>Highlights</h5>
		<hr>
		<div class="row">
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/kiwi/kiwi1.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/kiwi/kiwi2.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/kiwi/kiwi3.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/kiwi/kiwi4.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/kiwi/kiwi5.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/kiwi/kiwi6.png">
	      </div>
	    </div>
	    <h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
		 	<span><i class="fa fa-angle-right"></i> A Dictionary Application for <a href="">Android</a>, <a href="">Web</a> and <a href="">Firefox OS</a></span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Get Definition, Examples, Related words, Pronunciation and Listen Audio for the input word </span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Activitis like 'Word of the Day' &amp; 'Match the Column' to improve vocabulary.</span>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
			<span style="color: rgba(83, 86, 82, 1);">Apache Cordova</span>
			<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
		 </p>
		 <h5>Learning &amp; Experience</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	Kiwi was my first meet up with Android platfrom using the concept of Hybrid Applications.
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned about Android architecture, Linux Kernel, Dalvik Virtual Machines and Java applications.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Concept of Hybrid applications using <a>Apache Cordova</a> <a>Phonegap</a> &amp; <a>Ionic</a></span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Leanerd about REST APIs, Access Methods (Tokens), APIs Quota and calls.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Used Ionic Platfrom based on AngularJS to build application.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Setting up Android Environment in Linux and Live Debugging.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Setting up cross platfrom application at a single time.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned about Firefox OS marketplace, Manifesting and Hosting of Applicaion.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Uploading application to Android playstore, Setting up production environment (Alpha, Beta, Statging).</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Generating Secure Keystore and Produce Android App Releases and Updates.</span>
		 
		 </p>
		<h5>Future Work</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	Currently Kiwi has 500+ installs and hope to get more in future. Kiwi supports the open source culture.
		 </p>
		 <h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="">Web</a><br>
			<a href="">Gitlab</a><br>
			<a href="">Certificate </a><br>
			<a href="">Certificate</a>
		</p>

	</div>
</div>