<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
	<img src="images/medicalassist/mp.png" width="800" style="display:block; margin:100px auto 100px auto;">
		<h5>A system to prescribe the medicine for given symptoms</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="font-weight:400;">Abstract: </span> 
		 	There is a famous proverb in Hindi:
				<b style="width:100%; display:block; text-align:center;">“Pehla Sukh Nirogi Kaya”</b>

				“Prescribe Medicines for the Given Symptoms” is a UG project to provide the medical 

				assistance for the users. Present time is the era of very fast delivery of information with 

				effectiveness and accuracy. This is the time of smartphones, tablets and smart 

				computers which are connected to each other and information travels with the speed of 

				light. Better human health is the first priority of life. So why should not use the 

				technology for the upgrading the health level of human life. 

				Our project deals with the use of present technological aspects in the field of Computer 

				Science to make a system to provide the medical assistance for the user with a single 

				click on electronically devices.
		 <h5>Motivation</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			The main objective of a software is to solve the real life human problems and make the

			life better. From a long time bad human health is the main problem of human life. So 

			that's why we chosen this project to make a software for the medical assistance which 

			is based on the current technological scenarios. 
			<br>
			<span><i class="fa fa-angle-right"></i> The project deals with the present time health problems and can be useful to 
			everyone. </span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> The validity of the project is for a very long time period.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Validity and scope of the project facilitate many developers to work and implement
			new ideas in the project.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Non-technical people also contribute in the projects.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Project required much and much survey, reports and interactions to make it feasible.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> The implementation of the project is going to provide knowledge and cover the 
			major part of our studies.</span>
		</p>
		<h5>The Team</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	I worked under the supervision of Mr. Viaks Mishra (Asst. Professor).
		 	
		 </p>
		 <h5>Highlights</h5>
		<hr>
		<div class="row">
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp1.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp2.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp3.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp4.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp5.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp6.png">
	      </div>
	    </div>
	    <div class="row">
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp7.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp8.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp9.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp10.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp11.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp12.png">
	      </div>
	    </div>
	     <div class="row">
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp13.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp14.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp15.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp16.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp17.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="/images/medicalassist/mp18.png">
	      </div>
	    </div>
	    <h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
		 	<span><i class="fa fa-angle-right"></i> Sign In &amp; Sign Up</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Personal Profiles</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Simple and Easy to use interface.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Find doctors accordiing to symptoms.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Bug Reporting System.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Admin Panel with User and Doctor Management.</span>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 <span style="color:rgba(142, 139, 139, 1);">PHP</span>
		<span style="color: rgba(30, 65, 111, 1);">Mysql</span>
		<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
		<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
		<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
		<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
		 </p>
		 <h5>Learning &amp; Experience</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	This is my first attempt to the backend developement and database.
			I had following responsibilities:
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Deisigned Wireframes and made mockups.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned PHP and MySQL</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Surveys and Medical treatment fields. </span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned about Cookie bases sessions.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Configuration of project on Cloud.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> AJAX requests with PHP.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Source code management</span>
		 
		 </p>
		<h5>Future Work</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	I really liked the idea and want to have a health startup for peronalized health care.
		 </p>
		 <h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="http://mp.pixelcount.net" target="_blank">Web</a><br>
			<a href="https://github.com/ayusharma/medical_project" target="_blank">Github</a><br>
			<a href="" target="_blank">Project Report</a><br>
			<!-- <a href="">Certificate</a> -->
		</p>

	</div>
</div>