<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<img src="images/openhealth/openhealth.png" style="display:block; margin:auto; max-width:100%">
		<h5>Open Health</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="font-weight:400;">Overview: </span>
			<br>
			Health information technology (HIT) is information technology applied to health care. It provides the umbrella framework to describe the comprehensive management of health information across computerized systems and its secure exchange between consumers, providers, government and quality entities, and insurers. Health information technology (HIT) is in general increasingly viewed as the most promising tool for improving the overall quality, safety and efficiency of the health delivery system.
			<br>
			<span><i class="fa fa-angle-right"></i> Improve health care quality or effectiveness.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Increase health care productivity or efficiency.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Prevent medical errors and increase health care accuracy and procedural correctness.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Reduce health care costs.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Increase administrative efficiencies and healthcare work processes.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Decrease paperwork and unproductive or idle work time.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Extend real-time communications of health informatics among health care professionals.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Expand access to affordable care.</span>
			<br>
		</p>
		<h5>Highlights</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			This sections contains the final screen of the project which has been designed. 
		</p>
		<iframe src="https://drive.google.com/file/d/0B3Rw4slBaBmXRXRpTnROdDhSc1U/preview" width="640" height="480"></iframe>
		<br>
		<br>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/openhealth/o1.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/openhealth/o2.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/openhealth/o3.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/openhealth/o4.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/openhealth/o5.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/openhealth/o6.png">
			</div>
		</div>
		
		<h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
			Infographics is the way which make the data senseful and easy to understand. 
			<br>
			<span><i class="fa fa-angle-right"></i> Analytic with respect to Diseases</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Analytic with respect to Counties</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Simple data represnetation in Bar charts and Pie Charts.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Cross referencing in user interface.</span>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="color:rgba(91, 67, 134, 1);">HTML</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
			<span style="color: rgba(231, 158, 53, 1);">D3 JS</span>
			<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
			<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
			<span style="color:rgba(30, 65, 111, 1);">GIMP</span>
		</p>
		<h5>Learning &amp; Experience</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			Informatics projects require a good knowledge of infographics and data analytics skill.
			<br>
			<span><i class="fa fa-angle-right"></i> Learned about infographics and data analyics methods..</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Open health data and it's uses.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Learned D3.Js</span>
		</p>
		<h5>Future Work</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="font-weight:400;"> Future Aspects </span> 
			<br>
			<span><i class="fa fa-angle-right"></i> Sign IN &amp; Sign Up criteria.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Profiling of the user/researcher, patient and datasets.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Facility to import more visualization techniques.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Advance search and filtering of the datasets.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Addition of more visualization libraries like highcharts and grafana.</span>
		</p>
		<h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="http://ayusharma.in/open-health" target="_blank">Web</a><br>
			<a href="https://github.com/ayusharma/openhealth" target="_blank">Github</a><br>
		</p>
	</div>
</div>