<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
	<img src="images/openhealth/openhealth.png" width="600" style="display:block; margin:auto;">
		<h5>Open Health</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="font-weight:400;">Overview: </span>
			<br>
		 	<!-- <b style="width:100%; display:block; text-align:center;">“Over 20 thousand of people die of Cancer everyday”</b> -->
			
			Health information technology (HIT) is information technology applied to health care. It provides the umbrella framework to describe the comprehensive management of health information across computerized systems and its secure exchange between consumers, providers, government and quality entities, and insurers. Health information technology (HIT) is in general increasingly viewed as the most promising tool for improving the overall quality, safety and efficiency of the health delivery system.
			<br>
			<span><i class="fa fa-angle-right"></i> Improve health care quality or effectiveness.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Increase health care productivity or efficiency.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Prevent medical errors and increase health care accuracy and procedural correctness.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Reduce health care costs.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Increase administrative efficiencies and healthcare work processes.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Decrease paperwork and unproductive or idle work time.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Extend real-time communications of health informatics among health care professionals.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Expand access to affordable care.</span>
		 	<br>
		 </p>
		 <!-- <h5>Exceptional Responder Initative</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			​NCI has embarked on the Exceptional Responders Initiative to understand the molecular underpinnings of exceptional responses to treatment, primarily via chemotherapy. As a proof of principle, there was a search of NCI’s Cancer Therapy Evaluation Program phase II trial database over a period of 10 years (2002­-2012) in which about 100 cases were identified as a demonstration that the types of cases needed for the ERI did exist.

		</p>
		<h5>The Team</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	I worked under the supervision of Prof. Dr. Ethan Cermai.
		 </p> -->
		 <h5>Highlights</h5>
		<hr>
			<iframe src="https://drive.google.com/file/d/0B3Rw4slBaBmXRXRpTnROdDhSc1U/preview" width="640" height="480"></iframe>
		
	    <h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
			Infographics is the way which make the data senseful and easy to understand. 
			<br>
		 	<span><i class="fa fa-angle-right"></i> Analytic with respect to Diseases</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Analytic with respect to Counties</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Simple data represnetation in Bar charts and Pie Charts.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Cross referencing in user interface.</span>
		<!--  	<br>
			<span style="font-weight:400;">Multiple Patient Data Analysis </span> 
			<br>
			<span><i class="fa fa-angle-right"></i> Patient representation with timeline and cancer stages and type.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Survival Rate of Patients</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Respond Scale of Exceptional Responder via visualizations.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Provide the advanced analytics.</span>
		 	<br>
			<span style="font-weight:400;"> Insertion &amp; Deletion</span> 
			<br>
			<span><i class="fa fa-angle-right"></i> Interactive visualizations of Insertion and Deletion for genetic data. </span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Representation of data in Pie charts or Bar charts.</span>
		 	<br> -->
		</div>
		<h5>Technology Stack</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="color:rgba(91, 67, 134, 1);">HTML</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
			<span style="color: rgba(231, 158, 53, 1);">D3 JS</span>
			<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
			<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
			<span style="color:rgba(30, 65, 111, 1);">GIMP</span>
		</p>
		 <h5>Learning &amp; Experience</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	Informatics projects require a good knowledge of infographics and data analytics skill.
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned about infographics and data analyics methods..</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Open health data and it's uses.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned D3.Js</span>
		 	<!-- <br>
		 	<span><i class="fa fa-angle-right"></i> Cancer, it's stages, type and causes of tumor.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> DNA, Genes and Protein Systhesis</span>
		 	<br> -->
		 	<!-- <span><i class="fa fa-angle-right"></i> CAD &amp; Designing and Concepts of 3D printing.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned about Optics+Human Eye.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Fundus Photography.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> MIT initatives, Smart cities and Health care.</span> -->
		 
		 </p>
		<h5>Future Work</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="font-weight:400;"> Future Aspects </span> 
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Sign IN &amp; Sign Up criteria.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Profiling of the user/researcher, patient and datasets.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Facility to import more visualization techniques.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Advance search and filtering of the datasets.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Addition of more visualization libraries like highcharts and grafana.</span>
		 </p>
		 <h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="">Web</a><br>
			<a href="">Gitlab</a><br>
			<a href="">Certificate </a><br>
			<a href="">Certificate</a>
		</p>

	</div>
</div>