<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<img src="images/pediatric/kiwi-spring.png" style="display:block; margin:auto; max-width:100%">
		<h5>Kiwi -  Annotation Tool</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="font-weight:400;">Problem Statement: </span> There is no genetic repository which have gene browsing capability along with personalized annotation.
			<br>
			<span style="font-weight:400;">Solution: </span> My task is to build a genetic browser for the gene annotation.
		</p>
		<h5>Oncoblocks</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			OncoBlocks is a new open-source initiative, currently hosted at the Biostatistics and Computational Biology Department of the Dana-Farber Cancer Institute, in Boston, MA.

			The goal of the project is to create reusable, open source software components to support cancer genomics research and enable precision (or "personalized") cancer medicine.  

			These components can then be used and re-used in multiple research and clinical application contexts, and may also form the basis of new features within the cBio Cancer Genomics Portal (http://www.cbioportal.org/), another open-source project, originally created at Memorial Sloan-Kettering Cancer Center. 

		</p>
		<!-- <h5>The Team</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			I worked in team of 4 members ( <span style="font-weight:400;"> Ayush Sharma </span>, Siddartha Sahai, Varun Bahrdwaj &amp; Nataliya Amirova ) under the suvervision of InnovAccer developers.

		</p> -->
		<h5>Highlights</h5>
		<hr>
		<br>
		<iframe src="https://drive.google.com/file/d/0B3Rw4slBaBmXQVd3cVd0c3pWbnc/preview" width="640" height="480"></iframe>

		<h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">

			<span><i class="fa fa-angle-right"></i> Browse genes</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Browse genomic alterations, e.g. mutations</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Add / edit annotation notes and tags at multiple levels.</span>

		</div>
		<h5>Technology Stack</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="color: rgba(138, 227, 77, 1);">Spring</span>
			<span style="color:rgba(91, 67, 134, 1);">HTML</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color: rgba(30, 65, 111, 1);">Mysql</span>
			<span style="color: rgba(51, 51, 51, 1);">Apache Tomcat</span>
		</p>
		<h5>Learning &amp; Experience</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span><i class="fa fa-angle-right"></i> Genetic Analysis.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Spring Framework</span>
			<br>
			<span><i class="fa fa-angle-right"></i> REST API calls</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Setting up Java Development Environment.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Use of Apache Maven.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> JUnit Test Cases</span>

		</p>
		<h5>Future Work</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			In the future, I want to continue work on this project and new features and functionalities to be added. We can create more parameters for analysis of genomic data.
		</p>
		<h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="https://github.com/ayusharma/kiwi-1" target="_blank">Github</a><br>
		</p>
	</div>
</div>