<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
	<img src="images/pixelcount/pixelcount.png" style="display:block; margin:auto; max-width:100%">
		<h5>Pixelcount Creative Labs</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="font-weight:400;">Overview: </span> A personal project and self‐startup to learn, deploy new technologies to get into web designing &amp; Live Streaming. The project comprises a digital ocean droplet with responsive designed website, Databases, Mail server &amp; GNU/Linux.
		 </p>
		 <h5>Enterprenurship Dream Journey</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			From the very start of my undergraduation I have interest in my own starup and development. As after comleting my first website I thought to launch my product as service. I discussed my idea and after support of him, I started development of Pixelcount to provide the services of Web Designing, Graphics Designing and Live Streaming.
		</p>
		<h5>The Team</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	I worked under the supervision of Arpit Sharma.
		 </p>
		 <h5>Highlights</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			This sections contains the final screen of the project which has been designed. 
		</p>
		<div class="row">
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="Home Page: pixelcount.net" width="100%" src="images/pixelcount/pix1.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="Home Page: pixelcount.net" width="100%" src="images/pixelcount/pix2.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="Home Page: pixelcount.net" width="100%" src="images/pixelcount/pix3.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="Mail Server: pixelcount.net" width="100%" src="images/pixelcount/pix4.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="Powered by Digital Ocean" width="100%" src="images/pixelcount/pix5.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="We run on Ubuntu Machine" width="100%" src="images/pixelcount/pix6.png">
	      </div>
	    </div>
	    <h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
		 	<span><i class="fa fa-angle-right"></i> Mail Server <a href="http://mail.pixelcount.net" target="_blank">http://mail.pixelcount.net</a></span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Web Designing.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Graphic Designing.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Live Streaming.</span>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="color:rgba(142, 139, 139, 1);">PHP</span>
			<span style="color: rgba(30, 65, 111, 1);">Mysql</span>
			<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
			<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
		 </p>
		 <h5>Learning &amp; Experience</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	I started to learn with this project.
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Product Designing.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned HTML5, CSS3, jQuery, PHP, Ubuntu, DNS Management</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned Vector Graphics in Adobe Illustrator for Logo Designing.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Server configuration and Management.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Concepts of DNS, Hosting and Virtual Hosts.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Concepts of Mail Servers.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Built a mail servre using Postfix (SMTP) and Dovecot (IMAP &amp; POP3)</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned about Media servers for live streaming.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Used Adobe, Wowza Media Servers.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Implemented the open source media servers rtmplite and Red5.</span>
		 
		 </p>
		<h5>Future Work</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	Pixelcount is active and providing an interface for all of my projects. 
		 </p>
		 <h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="http://pixelcount.net" target="_blank">Web</a><br>
			<a href="https://github.com/ayusharma/pixelcount" target="_blank">Github</a><br>
		</p>

	</div>
</div>