<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
	<img src="images/spiffout.png" width="700" style="display:block; margin:auto;">
		<h5> &nbsp;Spiffout - The Future of Consumer Engagement</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	A web based consumer engagement platform which connects consumers to businesses and provides consumer satisfaction analytics. We are trying to remove the the obstacle between the product owner and consumer in the present world. The problem arise when a product owner does not get the true analytics of their product in market and believe on surveys and analytics with in organisation but spiffout provide a direct communication of a product owner to customer with analytics of 
			emotion, sentiments, opinion area and satisfication.
		 </p>
		 <h5> &nbsp;Contribution</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	I designed and implemented Graphical User Interface for web based platform. The design was aim to buila centralized dashboard for the user to show analysis and analytic in an efficent way. I was also involed in designs of application and spifffout social plugin.<br/> I worked in a team of three people in which <a href="" target="_blank">Priyaank</a>, and <a href="" target="_blank">Omprakash</a> worked on the backend architecture of platform.
		 </p>
		 <h5> &nbsp;Highlights</h5>
		<hr>
		 <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="250" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
		 <h5> &nbsp;Future Work</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	A web based consumer engagement platform which connects consumers to businesses and provides consumer satisfaction analytics. We are trying to remove the the obstacle between the product owner and consumer in the present world. The problem arise when a product owner does not get the true analytics of their product in market and believe on surveys and analytics with in organisation but spiffout provide a direct communication of a product owner to customer with analytics of 
			emotion, sentiments, opinion area and satisfication.
		 </p>

	</div>
</div>