<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<img src="images/spiffout/spiffout.png" style="display:block; margin:auto; max-width:100%">
		<h5>Spiffout - The Future of Consumer Engagement</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			A web based consumer engagement platform which connects consumers to businesses and provides consumer satisfaction analytics. We are trying to remove the the obstacle between the product owner and consumer in the present world. The problem arise when a product owner does not get the true analytics of their product in market and believe on surveys and analytics with in organisation but spiffout provide a direct communication of a product owner to customer with analytics of 
			emotion, sentiments, opinion area and satisfication.
		</p>
		<h5>Contribution</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			I designed and implemented Graphical User Interface for web based platform. The design was aim to buila centralized dashboard for the user to show analysis and analytic in an efficent way. I was also involed in designs of application and spifffout social plugin.<br/> I worked in a team of three people in which <a href="" target="_blank" class="tooltipped" data-position="top" data-delay="50" data-tooltip="I am tooltip">Priyaank Choubey</a> and <a href="" target="_blank">Omprakash Patel</a> worked on the backend architecture of platform.
		</p>
		<h5>Highlights</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			This sections contains the final screen of the project which has been designed. 
		</p>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff1.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff2.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff3.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff4.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff5.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff6.png">
			</div>
		</div>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff7.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff8.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff9.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff10.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff11.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff12.png">
			</div>
		</div>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff13.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff14.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff15.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff16.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff17.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff18.png">
			</div>
		</div>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff19.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff20.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff21.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff22.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff23.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff24.png">
			</div>
		</div>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff25.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff26.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff27.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff28.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff29.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"   width="100%" src="images/spiffout/spiff30.png">
			</div>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
			<span style="color:rgba(30, 65, 111, 1);">LESS</span>
			<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
			<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
			<span style="color:rgba(30, 65, 111, 1);">GIMP</span>
		</p>
		<h5>Learning &amp; Experience</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			It was my first internship with lots of learning and fun. I worked in Pune and  learned how to work on a large scale and develop generic,
			efficient and maintainable code with following things:
			<br>
			<span><i class="fa fa-angle-right"></i> Creation of Wireframes</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Modularity in Designs</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Concept of MVC ( AngularJS )</span>
			<br>
			<span><i class="fa fa-angle-right"></i> REST APIs</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Introduction of Flask and NoSQL Databases</span>
			<br>
			<span><i class="fa fa-angle-right"></i> LESS &amp; SASS</span>
		</p>
		<h5>Future Work</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			A web based consumer engagement platform which connects consumers to businesses and provides consumer satisfaction analytics. We are trying to remove the the obstacle between the product owner and consumer in the present world. The problem arise when a product owner does not get the true analytics of their product in market and believe on surveys and analytics with in organisation but spiffout provide a direct communication of a product owner to customer with analytics of 
			emotion, sentiments, opinion area and satisfication.
		</p>
		<h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="https://spiffout.com" target="_blank">Web</a><br>
			<a href="https://twitter.com/SpiffOut" target="_blank">Twitter</a><br>
			<a href="https://www.facebook.com/spiffout?fref=ts" target="_blank">Facebook</a><br>
			<a href="">Certificate </a><br>
			<a href="">Certificate</a>
		</p>
	</div>
</div>