<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
	<img src="images/wordmatch/word.png" width="400" style="display:block; margin:auto;">
		<h5>Word Matching</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="font-weight:400;">Overview: </span>
			<br>
		 	A keyword searching platfrom from the given files and calculates the frequencies of the word and it's stammaing word.
		 </p>
		 <!-- <h5>Exceptional Responder Initative</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			​NCI has embarked on the Exceptional Responders Initiative to understand the molecular underpinnings of exceptional responses to treatment, primarily via chemotherapy. As a proof of principle, there was a search of NCI’s Cancer Therapy Evaluation Program phase II trial database over a period of 10 years (2002­-2012) in which about 100 cases were identified as a demonstration that the types of cases needed for the ERI did exist.

		</p>
		<h5>The Team</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	I worked under the supervision of Prof. Dr. Ethan Cermai.
		 </p> -->
		 <h5>Highlights</h5>
		<hr>
		<div class="row">
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
	      </div>
	    </div>
		
	    <h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
			Infographics is the way which make the data senseful and easy to understand. 
			<br>
			<span><i class="fa fa-angle-right"></i> Simple and easy to use.</span>
			<br>
		 	<span><i class="fa fa-angle-right"></i> Represenation of Result in a tree format using D3.JS</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Find stemming words of input word.</span>
		 	<!-- <br>
		 	<span><i class="fa fa-angle-right"></i> Simple data represnetation in Bar charts and Pie Charts.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Cross referencing in user interface.</span> -->
		<!--  	<br>
			<span style="font-weight:400;">Multiple Patient Data Analysis </span> 
			<br>
			<span><i class="fa fa-angle-right"></i> Patient representation with timeline and cancer stages and type.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Survival Rate of Patients</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Respond Scale of Exceptional Responder via visualizations.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Provide the advanced analytics.</span>
		 	<br>
			<span style="font-weight:400;"> Insertion &amp; Deletion</span> 
			<br>
			<span><i class="fa fa-angle-right"></i> Interactive visualizations of Insertion and Deletion for genetic data. </span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Representation of data in Pie charts or Bar charts.</span>
		 	<br> -->
		</div>
		<h5>Technology Stack</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="color:rgba(91, 67, 134, 1);">HTML</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
			<span style="color: rgba(74, 152, 200, 1);">Python</span>
			<span style="color: rgba(0, 102, 255, 1);">App Engine</span>
			<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
			<span style="color: rgba(231, 158, 53, 1);">D3 JS</span>
			<span style="color: rgba(189, 189, 188, 1);">Flask</span>
		</p>
		 <h5>Learning &amp; Experience</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	This project introduced me to Python and Google App Engine.
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Introduced me to python and it's web frameworks. (Flask)</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned Data Driven Documents - D3.js</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Python File handling concept.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Google App engine and working.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Python Libraries: Whoosh</span>
		 </p>
		<h5>Future Work</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="font-weight:400;"> Future Aspects </span> 
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> More Advanced Search with better User Interface.</span>
		 	<!-- <br>
		 	<span><i class="fa fa-angle-right"></i> Profiling of the user/researcher, patient and datasets.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Facility to import more visualization techniques.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Advance search and filtering of the datasets.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Addition of more visualization libraries like highcharts and grafana.</span>
 -->		 </p>
		 <h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="">Web</a><br>
			<a href="">Gitlab</a><br>
			<a href="">Certificate </a><br>
			<a href="">Certificate</a>
		</p>

	</div>
</div>