<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<img src="images/wordmatch/word.png" style="display:block; margin:auto; max-width:100%">
		<h5>Word Matching</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="font-weight:400;">Overview: </span>
			<br>
			A keyword searching platfrom from the given files and calculates the frequencies of the word and it's stemmaing word.
		</p>
		<h5>Highlights</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			This sections contains the final screen of the project which has been designed. 
		</p>
		<div class="row">
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"  width="100%" src="images/wordmatch/w1.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"  width="100%" src="images/wordmatch/w2.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"  width="100%" src="images/wordmatch/w3.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"  width="100%" src="images/wordmatch/w4.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"  width="100%" src="images/wordmatch/w5.png">
			</div>
			<div class="col s12 m2 l2">
				<img class="materialboxed display-inline"  width="100%" src="images/wordmatch/w6.png">
			</div>
		</div>
		
		<h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
			Infographics is the way which make the data senseful and easy to understand. 
			<br>
			<span><i class="fa fa-angle-right"></i> Simple and easy to use.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Represenation of Result in a tree format using D3.JS</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Find stemming words of input word.</span>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="color:rgba(91, 67, 134, 1);">HTML</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
			<span style="color: rgba(74, 152, 200, 1);">Python</span>
			<span style="color: rgba(0, 102, 255, 1);">App Engine</span>
			<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
			<span style="color: rgba(231, 158, 53, 1);">D3 JS</span>
			<span style="color: rgba(189, 189, 188, 1);">Flask</span>
		</p>
		<h5>Learning &amp; Experience</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			This project introduced me to Python and Google App Engine.
			<br>
			<span><i class="fa fa-angle-right"></i> Introduced me to python and it's web frameworks. (Flask)</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Learned Data Driven Documents - D3.js</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Python File handling concept.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Google App engine and working.</span>
			<br>
			<span><i class="fa fa-angle-right"></i> Python Libraries: <a href="https://pypi.python.org/pypi/Whoosh/" target="_blank">Whoosh</a></span>
		</p>
		<h5>Future Work</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<span style="font-weight:400;"> Future Aspects </span> 
			<br>
			<span><i class="fa fa-angle-right"></i> More Advanced Search with better User Interface.</span>
		</p>
		<h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="http://durable-trainer-852.appspot.com/" target="_blank">App Engine</a><br>
			<a href="https://github.com/ayusharma/Word-Match" target="_blank">Github</a>
		</p>
	</div>
</div>