<!-- <div class="col s12 m8 offset-m2 l6 offset-l3"> -->
	<div class="card-panel white z-depth-1">
	<img src="images/dailyrounds/dailyrounds2.png" style="display:block; margin:auto; max-width:100%">
		<h5>Dailyrounds - Clinical Cases</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="font-weight:400;">Problem Statement: </span>Search Engine Optimization (SEO) is very important for growing business and web traffic. Good SEO increases the user traffics and trend webpage in Search Engine Results. Client side Javascript MVC frameworks have serious problems from an SEO point of view. Most of the search engine still do not properly crawl JS components. In Daily rounds, My task is to develop an SEO friendly MVC platform for Clinical Cases.
		 	<br>
		 	<span style="font-weight:400;">Solution: </span> Rendering of HTML from server increase crawl quality for search engines. We are using Jinja2 templeting engine to serve content along with caching and HTML5 Local Storage APIs.
		 </p>
		 <h5>About Dailyrounds</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			We are a team of passionate Doctors, Coders and Designers from Bangalore, India with a firm belief that a case based problem solving approach can revolutionize medical education. A problem solving approach would make medical education fun and at the same time can have a direct impact on patient outcomes.
		</p>
		<h5>The Team</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	I worked in a team of 4 developers which  included <b>Ayush</b> on web platform with two backend developers ( Priyaank &amp; Vineet ) and an iOS developer ( Shwet ).
		 </p>
	<!-- 	 <h5>Highlights</h5>
		<hr>
		<div class="row">
	     <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline" data-caption="Small wireframe before starting of project." width="100%" src="images/dailyrounds/tc.jpeg">
	      </div>
	    </div> -->
	    <h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
			<span><i class="fa fa-angle-right"></i> For your smart phone.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> By a community like Wikipedia.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Focus on clinical cases.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Peer reviewed and edited.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> A new kind of journal.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Completely free.</span>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
			<span style="color:rgba(30, 65, 111, 1);">LESS</span>
			<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
			<span style="color: rgba(189, 189, 188, 1);">Flask - Jinja2</span>
		 </p>
		 <h5>Learning &amp; Experience</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">

		 	Designing a good SEO friendly web page require server side rendering of content.

		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned SEO isomorphic approach. <a href="http://nerds.airbnb.com/isomorphic-javascript-future-web-apps/" target="_blank">Link</a></span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> UI/UX development of application in LESS, jQuery and HTML</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Proxy calls of REST APIs and management in Flask.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Integration of Facebook SDK</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Source code management</span>

		 </p>
		<h5>Future Work</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	Currently I am working for their web platform. More feature and concepts is to be awaited for integration. Web page efficiency methods like caching, local storage and client side version.
		 </p>
		 <h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="https://dailyrounds.org" target="_blank">Web</a><br>
			<!-- <a href="">Gitlab</a><br> -->
			<a href="/images/dailyrounds/tc.jpeg" target="_blank">Certificate </a><br>
		</p>

	</div>
</div>
