<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
	<img src="images/firefoxos/ffos.png" style="display:block; margin:auto; max-width:100%">
		<h5>Firefox OS - Awesome Tech Stack</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	The web is the future and Firefox use is purely based on Web Technologies. I build an interactive animation application to make awareness about Firefox OS.<br> Firefox OS is open source software that allows developers to harness the power and flexibility of the Web to create advanced end-user applications. The entire user interface is a web app, which can display and launch other apps. A Firefox OS web app is made with HTML, CSS, and JavaScript. In addition, Firefox OS web apps have access to the device hardware and services via an Application Programing Interface (API).
		 </p>
		 <h5>Mozilla</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			 Mozilla is a non-profit organization fueled by a passionate global community. Together, we’re able to create and innovate with local interests in mind, while making the Web better and more accessible for everyone everywhere.
		</p>
		 <h5>Highlights</h5>
		<hr>
		<br>
		<div class="row">
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline"   width="100%" src="images/firefoxos/ff1.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline"   width="100%" src="images/firefoxos/ff2.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline"   width="100%" src="images/firefoxos/ff3.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline"   width="100%" src="images/firefoxos/ff4.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline"   width="100%" src="images/firefoxos/ff5.png">
	      </div>
	      <div class="col s12 m2 l2">
	      	<img class="materialboxed display-inline"   width="100%" src="images/firefoxos/ff6.png">
	      </div>
	    </div>
	    <h5>Features</h5>
		<hr>
		<div class="flow-text" style="font-size:18px;">
		 	<span><i class="fa fa-angle-right"></i> Easy Representation.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Interactive animations.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Also available for Web Platform.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Play five small mini games.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Fast with Fun</span>
		</div>
		<h5>Technology Stack</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
			<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
			<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
			<span style="color:rgba(30, 65, 111, 1);">GIMP</span>
			<span style="color: rgba(51, 51, 51, 1);">Ubuntu</span>
		 </p>
		 <h5>Learning &amp; Experience</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	Designing an application with animation take a lot of time to think and process.
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Learned about Firefox OS</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Used YUI Compressor to serve minified content.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> CSS Positioning - Absolute, Fixed and Relative</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> jQuery Promises.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Manifesting of Application.</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Firefox OS and Web APIs</span>
		 	<br>
		 	<span><i class="fa fa-angle-right"></i> Source code management</span>
		 
		 </p>
		<h5>Future Work</h5>
		<hr>
		 <p class="flow-text" style="font-size:18px;">
		 	Addition of more interactive animations.
		 </p>
		 <h5>Links</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			<a href="http://ayusharma.in/magicalstack" target="_blank">Web</a><br>
			<a href="https://github.com/ayusharma/" target="_blank">Github</a><br>
	</div>
</div>