<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="row">
		<div class="col l12 m12 s12">
	    <p class="flow-text center-align">
				<i>"There are two ways of constructing a software design: One way is to make it so simple that there are obviously no deficiencies, and the other way is to make it so complicated that there are no obvious deficiencies." - C.A.R. Hoare, 1980 ACM Turing Award Lecture</i>
			</p>
		</div>
		<div class="col l12 m12 s12">
			<p class="flow-text">
					Hi,
			</p>
			<p class="flow-text">
				I am Ayush, Currently Software Developer at Innovaccer Inc.
			</p>
			<p class="flow-text">
				I write software to build great products. I deeply enjoy solve problem, design patterns and writing code.
				I believe in the power of careful engineered software to change work, to change business, and to change lives, all for the better.
			</p>
			<p class="flow-text">
				I have been an opensource contributor, Learner and Javascript Lover. I use Javascript and Python on a unix (Ubuntu) machine with awesome desktop environment.
			</p>
			<p class="flow-text">
			If you like what you see here and elsewhere on this website, you can contact me about opportunities at mail@ayusharma.in. I’m based out of Delhi NCR, India.
		  </p>
		</div>
	</div>
</div>
