<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<div class="row">
			<div class="col l3 m3 s12">
			<p class="flow-text">
				<img src="/images/ayush2.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class -->
			</p>
			</div>
			<div class="col l9 m9 s12">
				<!-- <p class="center-align">
					<span style="font-size:20px;"><em>"I don't think that dreams die - I think that people give up."</em></span><br>
					<span style="font-size:20px;"><em></em></span><br>
				</p> -->
				<!-- <p class="black-text flow-text" style="font-size:16px; text-align:justify">
					Hello, I am a Programmer, Open-Source Enthusiast, Love Web-technologies, A dreamer, Photographer, Designer, A learner with infinite thirst.<br>
					As a graduating student from <a href="">Arya College of Engineering &amp; Information Technology, Jaipur</a> in Computer Science Engineering. I've done a lot of interesting work. I maintain this page as documentation of that work.<br>
					I am an active learner by the means of WH (What, Which, When, Why, Who, Where, Whom, How) questions which arises in my mind to learn and apply new things. I have keen interest in computers, programming, development and building new things. I want to help everyone and want to make a better world.
				</p> -->
				<p class="black-text flow-text" style="font-size:16px; text-align:justify">
						Hello, <br/>I am an undergraduate student in  <a href="https://en.wikipedia.org/wiki/Computer_science" target="_blank">Computer Science &amp; Engineering</a> at <a href="http://www.rtu.ac.in/RTU/">Rajasthan Technical University, Kota</a>. I am a Frontend developer and keep keen interest in Computational Biology and Bioinformatics. I love to design visualization of biological data and interaction platforms.
						<br/>
							I am an active learner by the means of WH (What, Which, When, Why, Who, Where, Whom, How) questions which arises in my mind to learn and apply new things. I think the main aim of any project and software to solve real life problems and provide better ways to live. At present,  Cancer disease  is a very big problem and Cancer causes more death than AIDS, Tuberculosis and Malaria combined. I want to learn Bioinformatics and be a good developer to build technologies which can provide insights for disease treatment in seconds instead of days without owning a research lab.

				</p>
			</div>
		</div>
	</div>
</div>
