<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<div class="row" data-ng-controller="InstaCtrl">
			<div masonry class="center-align">
				<div class="masonry-brick" ng-repeat="x in method.instagram" style="width:25%">
                    <img ng-src="{{ x.images.standard_resolution.url }}" style="width:98%; padding:1%;">
                </div>
                <div class="masonry-brick" ng-repeat="y in method.fb" style="width:25%">
                    <img ng-src="{{ y.images[0].source }}" style="width:98%; padding:1%;">
                </div>

            </div>       
		</div>
	</div>
</div>
