<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<h4><i class="small mdi-action-label"></i>&nbsp;Milestones</h4>
		<hr>
		<br>
		<h5>Undergraduation</h5>
		<br>
		<div class="row">
			<div class="col l12 m12 s12">
				<ul class="collapsible popout" data-collapsible="accordion" data-ng-controller="CollapsibleCtrl">
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/dailyrounds.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Dailyrounds, Bengaluru. </span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/tu.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> TU Delft Summer Internship, Amsterdam Netherlands </span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/redx.png" class="margin-right-1x" width="40" align="absmiddle"> 
							<span> MIT RedX </span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/googleio.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Google I/O Extended Hackathon </span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/innovaccer.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Innovaccer Summer Enterprenur Program </span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/oncoblocks.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Onco Blocks - Open Source Contributor </span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/medialab.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> MIT Media Lab - Design Innovation </span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/spiffout.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Spiffout Info Media Pvt. Ltd. </span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/peerbuddy.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Meet Your Peer Buddy - Unhangout </span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/mozilla.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Mozilla Mobile User Research Program </span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/fsa.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Firefox Student Ambassador &amp; Contributor</span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/confkde.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> conf.kde.in </span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/pixelcount.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Pixelcount Creative Labs</span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/red5.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> A Workshop on Live Streamning</span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="/images/logo/bicycle.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> First Prize for Bicycle Powered Cell Phone Charger on Enginnering Day</span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
				</ul>
			</div>
		</div>
		<br>
		<h5>School</h5>
		<br>
		<div class="row">
			<div class="col l12 m12 s12">
				<ul class="collapsible  popout" data-collapsible="accordion" data-ng-controller="CollapsibleCtrl">
					<li>
						<div class="collapsible-header"><i class="fa fa-university"></i>TU Delft Summer Internship, Amsterdam Netherlands</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header"><i class="fa fa-child"></i>Innovaccer Summer Enterprenur Program</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header"><i class="fa fa-dashboard"></i>MIT Media Lab - Design Innovation </div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header"><i class="fa fa-microphone"></i>Spiffout Info Media Pvt. Ltd.</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header"><i class="fa fa-video-camera"></i>Meet Your Peer Buddy - Unhangout</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header"><i class="fa fa-mobile"></i>Mozilla Mobile User Research Program</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header"><i class="fa fa-desktop"></i>conf.kde.in</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
