<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<h4><i class="small mdi-action-label"></i>&nbsp;Journey</h4>
		<hr>
		<br>
		<h5>Undergraduation</h5>
		<br>
		<div class="row">
			<div class="col l12 m12 s12">
				<ul class="collapsible" data-collapsible="accordion" data-ng-controller="CollapsibleCtrl">
					<li>
						<div class="collapsible-header">
							<img src="images/logo/pycon.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> PyCon India 2015, Bengaluru</span>
							<b style="float:right;">October 2015</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								I attended PyCon India which happened in Bangalore, India from Oct. 2, 2015 to Oct. 4, 2015. I participated in Dev Sprint(Data Visualization with Vega &amp; Pandas), Openstack and open talks by GoIbibo, LinkedIN, Redhat and Python Communities.
								<br>
								I also represented Dailyrounds in Pycon India.
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="https://pbs.twimg.com/media/CQXYqZqUAAAExqr.jpg:large" target="_blank" style="background-image:url('https://pbs.twimg.com/media/CQXYqZqUAAAExqr.jpg');">
									</a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="https://pbs.twimg.com/media/CQcwcyZVAAAqz_H.jpg:large" target="_blank" style="background-image:url('https://pbs.twimg.com/media/CQcwcyZVAAAqz_H.jpg');">
									</a>
								</div>

								<div class="col s12 m3 l2">
									<a class="thumbnail" href="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12118746_920873004644556_5515380982220830314_n.jpg?oh=1eeee753dde593b3a12e268e5b9f2df1&oe=56864281" target="_blank" style="background-image:url('https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/12118746_920873004644556_5515380982220830314_n.jpg?oh=1eeee753dde593b3a12e268e5b9f2df1&oe=56864281');">
									</a>
								</div>
								
							</div>

						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/dr.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Dailyrounds, Bengaluru.</span>
							<b style="float:right;">July 2015</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								Joined Dailyrounds as a Graphical User Interface Designer with a team of passionate Doctors, Coders and Designers from Bangalore, India with a firm belief that a case based problem solving approach can revolutionize medical education. A problem solving approach would make medical education fun and at the same time can have direct impact on patient outcomes.
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/12088212_10205250371207200_8270825319106476087_n.jpg?oh=42bec77b8a3ef8f903e762c2f1ae6058&oe=56B8EC5E&__gda__=1451822747_c41190c6bfb3a2ee96d170c9b660bd8b" target="_blank" style="background-image:url('https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/12088212_10205250371207200_8270825319106476087_n.jpg?oh=42bec77b8a3ef8f903e762c2f1ae6058&oe=56B8EC5E&__gda__=1451822747_c41190c6bfb3a2ee96d170c9b660bd8b');">
									</a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xtf1/t31.0-8/12022465_1036314049721028_649945718783895570_o.jpg" target="_blank" style="background-image:url('https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xtf1/t31.0-8/12022465_1036314049721028_649945718783895570_o.jpg');"></a>

								</div>

								<div class="col s12 m3 l2">

									<a class="thumbnail" href="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xpt1/t31.0-8/12032767_1036314306387669_750742195082324500_o.jpg" target="_blank" style="background-image:url('https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xpt1/t31.0-8/12032767_1036314306387669_750742195082324500_o.jpg');"></a>
								</div>

							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/tu.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> TU Delft Summer Internship, Amsterdam Netherlands </span>
							<b style="float:right;">April 2015</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								I got selected for the 3 months summer internship under the supervision of Prof. Eelco Visser at TU Delft, Amsterdam, The Netherlands. 
								<br> Unfortunately, I could not be able to pursue the internship due to some personal reasons.
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/delft1.png" target="_blank" style="background-image:url('images/journey/delft1.png');">
									</a>
								</div>
							</div>

						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/redx.png" class="margin-right-1x" width="40" align="absmiddle"> 
							<span> MIT RedX </span>
							<b style="float:right;">July 2015</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								Attended MIT's REDx Camp (Re-thinking engineering design execution) from July 5, 2015 to July 12, 2015 in Hyderabad, India. It brings together technical experts, innovators, academic institutions, implementation partners and progressive corporate partners that will allow us to solve the most pressing challenges within India, and other developing countries. Click to See More..
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/red1.jpg" target="_blank" style="background-image:url('images/journey/red1.jpg');"></a>
								</div>

								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/red2.jpg" target="_blank" style="background-image:url('images/journey/red2.jpg');"></a>
								</div>

								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/red3.jpg" target="_blank" style="background-image:url('images/journey/red3.jpg');"></a>
								</div>

								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/red4.jpg" target="_blank" style="background-image:url('images/journey/red4.jpg');"></a>
								</div>

								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/red5.jpg" target="_blank" style="background-image:url('images/journey/red5.jpg');"></a>
								</div>

								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/red6.jpg" target="_blank" style="background-image:url('images/journey/red6.jpg');"></a>
								</div>

							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/googleio.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Google I/O Extended Hackathon </span>
							<b style="float:right;">May 2015</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								Google I/O is an annual software developer-focused conference held by Google in San Francisco, California. Google I/O features highly technical, in-depth sessions focused on building web, mobile, and enterprise applications with Google and open web technologies such as Android, Chrome, Chrome OS, Google APIs, Google Web Toolkit, App Engine, and more.

								I have attended Google I/O Extended Event &amp; Hackathon in Noida and wond 2nd prize for an application built for clean India campaign.
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/io1.jpg" target="_blank" style="background-image:url('images/journey/io1.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/io2.jpg" target="_blank" style="background-image:url('images/journey/io2.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/io3.jpg" target="_blank" style="background-image:url('images/journey/io3.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/io4.jpg" target="_blank" style="background-image:url('images/journey/io4.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/io5.jpg" target="_blank" style="background-image:url('images/journey/io5.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/io6.jpg" target="_blank" style="background-image:url('images/journey/io6.jpg');"></a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/innovaccer.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Innovaccer Summer Enterprenur Program  </span>
							<b style="float:right;">May 2015</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								InnovAccer is a Silicon Valley-based data-science startup founded by IIT/IIM alumni to provide insights from data and build decision-support frameworks for world's best organizations, think tanks, and research houses like Harvard, Stanford, MIT, United Nations. Our Product DataShop been awarded in the league of top 10 products by NASSCOM in 2014. 
								<br>
								I have been slected for the program from a thousand students across the country. This internship focused on software, design and to ship a product end-to-end withing the duration of 10 weeks.
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/inno1.jpg" target="_blank" style="background-image:url('images/journey/inno1.jpg');"></a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/oncoblocks.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Onco Blocks - Open Source Contributor </span>
							<b style="float:right;">March 2015</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								OncoBlocks is a new open-source initiative, currently hosted at the Biostatistics and Computational Biology Department of the Dana-Farber Cancer Institute.
								<br>
								I have selected OncoBlocks as contributing organization for Google Summer of Code. It helps me to motivate myself to contribute to open source communities. 
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" height="" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
								</div>
								<div class="col s12 m3 l2">
									<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
								</div>
								<div class="col s12 m3 l2">
									<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
								</div>
								<div class="col s12 m3 l2">
									<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
								</div>
							</div>

						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/medialab.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> MIT Media Lab - Design Innovation </span>
							<b style="float:right;">January 2015</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								The Media Lab India Initiative is an outreach program by students and alumni from the MIT Media Lab to bring together a community of makers and creators across India, and to facilitate collaboration and sharing of ideas across boundaries of disciplines, institutions and culture. The goal is to create an environment much like at the MIT Media Lab, an environment that fosters creative exploration of ideas.

								Among a tough competion I ave been selected under the 'Civic Innovation' track. I contributed on project 'BloodCollective - A community driven blood donation network'.
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/di1.jpg" target="_blank" style="background-image:url('images/journey/di1.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/di2.jpg" target="_blank" style="background-image:url('images/journey/di2.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/di4.jpg" target="_blank" style="background-image:url('images/journey/di4.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/di5.jpg" target="_blank" style="background-image:url('images/journey/di5.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/di6.jpg" target="_blank" style="background-image:url('images/journey/di6.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/di7.jpg" target="_blank" style="background-image:url('images/journey/di7.jpg');"></a>
								</div>
							</div>

						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/spiffout.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Spiffout Info Media Pvt. Ltd. </span>
							<b style="float:right;">July 2014</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								Joind Spiffout, A web based consumer engagement platform which connects consumers to businesses and provides
								consumer satisfaction analytics.<br>
								My First internship on a real time platform guide me to learn a lot of things. 
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/spiff1.jpg" target="_blank" style="background-image:url('images/journey/spiff1.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/spiff2.jpg" target="_blank" style="background-image:url('images/journey/spiff2.jpg');"></a>
								</div>
								<!-- <div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/di6.jpg" target="_blank" style="background-image:url('images/journey/di6.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
								</div>
								<div class="col s12 m3 l2">
									<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
								</div> -->
							</div>

						</div>
					</li>
					<!-- <li>
						<div class="collapsible-header">
							<img src="images/logo/mozilla.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Mozilla Mobile User Research Program </span>
							<b style="float:right;">June 2014</b>
						</div>
						<div class="collapsible-body">
							<p>Lorem ipsum dolor sit amet.</p>
						</div>
					</li> -->
					<li>
						<div class="collapsible-header">
							<img src="images/logo/peerbuddy.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Meet Your Peer Buddy - Unhangout </span>
							<b style="float:right;">May 2014</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">Joined 'Meet Your Peer Buddy - Conversation Series'. An event organized on Unhangout Platfrom of MIT Media Lab to join a bunch of storytellers from diverse backgrounds including designers, engineers and entrepreneurs to learn about the topics you are passionate about. 
								<br> 
								This platfrom helped me to get my first internship and useful guidance which made a huge impact in my life.
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/peer1.png" target="_blank" style="background-image:url('images/journey/peer1.png');"></a>
								</div>
							</div>

						</div>
					</li>

					<li>
						<div class="collapsible-header">
							<img src="images/logo/fsa.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Firefox Student Ambassador &amp; Contributor</span>
							<b style="float:right;">April 2014</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">Joined Mozilla Community by contributin in Mozilla Mobile User Research Program. Joined events like SUMO, App-Dev and took session in my college club - Openmoz. It introduced me to Awesome and Creative People. Made my first application 'Make an application for Firefox OS'</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/peer1.png" target="_blank" style="background-image:url('images/journey/fsa1.png');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/peer1.png" target="_blank" style="background-image:url('images/journey/fsa2.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/peer1.png" target="_blank" style="background-image:url('images/journey/fsa3.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/peer1.png" target="_blank" style="background-image:url('images/journey/fsa4.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/peer1.png" target="_blank" style="background-image:url('images/journey/fsa5.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/peer1.png" target="_blank" style="background-image:url('images/journey/fsa6.jpg');"></a>
								</div>

							</div>

						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/confkde.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> conf.kde.in </span>
							<b style="float:right;">February 2014</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								My First open source workshop and interaction with free software culture. The workshop held in DAIICT, Gandghinagar, Gujrat. I learned about open source contribution, Git, Qt-QML and came to know about open source contribution platform like Google Summer of Code.
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/GroupPhotoConfKDEIn.jpg" target="_blank" style="background-image:url('images/journey/GroupPhotoConfKDEIn.jpg');"></a>
								</div>

								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/kde.jpg" target="_blank" style="background-image:url('images/journey/kde.jpg');"></a>
								</div>

							</div>

						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/pixelcount.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Pixelcount Creative Labs</span>
							<b style="float:right;">July 2013</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								A personal project and self‐startup to learn, deploy new technologies to get into web designing &amp; Live Streaming. The project comprises a digital ocean droplet with responsive designed website, Databases, Mail server &amp; GNU/Linux.
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" height="" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
								</div>
								<div class="col s12 m3 l2">
									<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
								</div>
								<div class="col s12 m3 l2">
									<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
								</div>
								<div class="col s12 m3 l2">
									<img class="materialboxed display-inline" data-caption="A picture of some deer and tons of trees" width="100%" src="http://th01.deviantart.net/fs70/PRE/i/2013/126/1/e/nature_portrait_by_pw_fotografie-d63tx0n.jpg">
								</div>
							</div>

						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/red5.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> A Workshop on Live Streamning</span>
							<b style="float:right;">June 2013</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								Took a session on live streaming covering the technologies like RTMP, HTTP and explained the role of Content Delivery Networks and Peer to Peer Networking.
							</p>

							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-0/p206x206/936101_498538356878025_191989610_n.jpg?oh=d9d2ccaf5117d54be895c0b0c4a2e478&oe=56C062B1&__gda__=1455225820_9d24537257e01c0257c36d9aaec2dca9" target="_blank" style="background-image:url('https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-0/p206x206/936101_498538356878025_191989610_n.jpg?oh=d9d2ccaf5117d54be895c0b0c4a2e478&oe=56C062B1&__gda__=1455225820_9d24537257e01c0257c36d9aaec2dca9');"></a>
								</div>

							</div>

						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/rl.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Rajasthan Live</span>
							<b style="float:right;">April 2013</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								My first offical website which I have designed a news firm in Jaipur to share news and stream the live content over internet. It was a remote intern where I learned HTML/CSS and implemented a full stack web solution.
							</p>
							
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash2/t31.0-8/920306_491677990897395_2138429820_o.jpg" target="_blank" style="background-image:url('https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash2/t31.0-8/920306_491677990897395_2138429820_o.jpg');"></a>
								</div>

							</div>

						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/igniters.jpg" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Igniters </span>
							<b style="float:right;">February 2013</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								From the childhood I have a strong grasping power and infinte curiousity to learn new things. I was never introduced to technologies before opting computer science engineering in college. As I joined college, I got power of technology to build the things about which I am passionate - Learning, Exploration and Skill share.
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-0/p206x206/936101_498538356878025_191989610_n.jpg?oh=d9d2ccaf5117d54be895c0b0c4a2e478&oe=56C062B1&__gda__=1455225820_9d24537257e01c0257c36d9aaec2dca9" target="_blank" style="background-image:url('https://fbcdn-photos-c-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-0/p206x206/936101_498538356878025_191989610_n.jpg?oh=d9d2ccaf5117d54be895c0b0c4a2e478&oe=56C062B1&__gda__=1455225820_9d24537257e01c0257c36d9aaec2dca9');"></a>
								</div>
							</div>

						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/bicycle.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> First Prize for Bicycle Powered Cell Phone Charger on Enginnering Day</span>
							<b style="float:right;">September 2012</b>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">On the First Engineering Day in Undergraduation, I participated in event 'Tehnicanaitus' and made a Bicycle Powered Cell Phone charge. I worked in a team of 6 Members.</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/t31.0-8/740933_445097282222133_797988090_o.jpg" target="_blank" style="background-image:url('https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/t31.0-8/740933_445097282222133_797988090_o.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="https://scontent.fdel1-1.fna.fbcdn.net/hphotos-prn2/v/t1.0-9/543436_393069727424889_327394912_n.jpg?oh=4a4c2dcf55babc5f5aad842a9cd2cc12&oe=56C5525E" target="_blank" style="background-image:url('https://scontent.fdel1-1.fna.fbcdn.net/hphotos-prn2/v/t1.0-9/543436_393069727424889_327394912_n.jpg?oh=4a4c2dcf55babc5f5aad842a9cd2cc12&oe=56C5525E');"></a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<br>
		<h5>School</h5>
		<br>
		<div class="row">
			<div class="col l12 m12 s12">
				<ul class="collapsible" data-collapsible="accordion" data-ng-controller="CollapsibleCtrl">
					<li>
						<div class="collapsible-header">
							<img src="images/logo/rajboard.jpeg" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Topper through out schooling</span>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								I have completed my schooling form a <b>RK Adarsh Vidhya Mandir School, Karauli</b>, a Hindi &amp; Sanskrit medium based school. I always secured top rank in my class and also named in the bright student of schools.
							</p>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/essay.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Good in Arts </span>
						</div>
						<div class="collapsible-body">
						<p class="flow-text" style="font-size:18px;">
							I participated in various Painting, Quiz and Essay writing competitions and won many prizes on the district level.
						</p>
						<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/nw1.jpg" target="_blank" style="background-image:url('images/journey/nw1.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/nw2.jpg" target="_blank" style="background-image:url('images/journey/nw2.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/nw3.jpg" target="_blank" style="background-image:url('images/journey/nw3.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/paint1.jpg" target="_blank" style="background-image:url('images/journey/paint1.jpg');"></a>
								</div>
								<!-- <div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/nw2.jpg" target="_blank" style="background-image:url('images/journey/nw2.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/nw3.jpg" target="_blank" style="background-image:url('images/journey/nw3.jpg');"></a>
								</div> -->
							</div>
						</div>
					</li>
					<li>
						<div class="collapsible-header">
							<img src="images/logo/khokho.png" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Best in Atheletics</span>
						</div>
						<div class="collapsible-body">
							<p class="flow-text" style="font-size:18px;">
								I have played various games like Kho Kho, Kabaddi and sprint to represent my school and won many prizes.
							</p>
							<div class="row no-margin padding-2x">
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/kho1.jpg" target="_blank" style="background-image:url('images/journey/kho1.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/athe1.jpg" target="_blank" style="background-image:url('images/journey/athe1.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/athe2.jpg" target="_blank" style="background-image:url('images/journey/athe2.jpg');"></a>
								</div>
								<div class="col s12 m3 l2">
									<a class="thumbnail" href="images/journey/athe3.jpg" target="_blank" style="background-image:url('images/journey/athe3.jpg');"></a>
								</div>
							</div>
						</div>
					</li>
					<!-- <li>
						<div class="collapsible-header">
							<img src="images/logo/paint.jpg" class="margin-right-1x" width="20" align="absmiddle"> 
							<span> Painted very well </span>
						</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li> -->
				</ul>
			</div>
		</div>
	</div>
</div>
