<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<h4><i class="small mdi-action-label"></i>&nbsp;Milestones Achieved</h4>
		<hr>
		<br><br>
		<div class="row">
			<div class="col l12 m12 s12">
				<ul class="collapsible  popout" data-collapsible="accordion" data-ng-controller="CollapsibleCtrl">
					<li>
						<div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
					<li>
						<div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
						<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
