<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<h4><i class="small mdi-action-label"></i>&nbsp;My Projects</h4>
		<hr>
		<br><h5>2015</h5><br>
		<div class="row">
			<div class="col l4 m6 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/dailyrounds/dailyrounds2.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Dailyrounds<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<span style="color:#F60;">Internship</span>
						<p class="date">Jul 2015 - Till Present</p>
					</div>
					<div class="card-action">
						<a href="https://dailyrounds.org" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="/#/projects/dailyrounds" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Spiff Out<i class="mdi-navigation-close right"></i></span>
						<p>
							Dailyrounds, a SEO friendly MVC platform for Clinical Cases. 
						</p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
							<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
							<span style="color:rgba(30, 65, 111, 1);">LESS</span>
							<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
							<span style="color: rgba(189, 189, 188, 1);">Flask - Jinja2</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col l4 m6 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/inloop/inloop.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Inloop<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<span style="color:#F60;">Internship</span>
						<p class="date">May 2015 - July 2015</p>
					</div>
					<div class="card-action">
						<a href="http://ayusharma.in/exception-responder-proto/app/#/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="/#/projects/inloop" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Inloop<i class="mdi-navigation-close right"></i></span>
						<p>
							We created inloop to solve how teams share and discuss things they love.
						</p>	
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
							<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
							<span style="color:rgba(30, 65, 111, 1);">LESS</span>
							<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
							<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
							<span style="color: rgba(189, 189, 188, 1);">Flask</span>
							<span style="color: rgba(112, 116, 119, 1);">Google Cloud</span>
							<span style="color:rgba(225, 88, 85, 1);">Debian Wheezy</span>
							<span style="color: rgba(30, 127, 166, 1);">Cassandra</span>
							<span style="color: rgba(78, 54, 42, 1);">Mongo</span>
							<span style="color: rgba(162, 32, 25, 1);">Redis</span>
							<span style="color:rgba(30, 65, 111, 1);">Socket IO</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col l4 m6 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/pediatric/kiwi-spring.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Kiwi - Annotation Tool<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<!-- <span style="color:#F60;">In Progress</span> -->
						<p class="date">March 2015</p>
					</div>
					<div class="card-action">
						<a href="http://ayusharma.in/exception-responder-proto/app/#/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/exception-responder-proto" target="_blank"><i class="fa fa-github"></i></a>
						<a href="https://github.com/ayusharma/exception-responder-proto" target="_blank"><i class="fa fa-youtube-play"></i></a>
						<a href="/#/projects/pediatric" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Kiwi - Annotation Tool<i class="mdi-navigation-close right"></i></span>
						<p>
							A (simple) open source, web based tool for annotating mutations in cancer.  Clinicians will edit/use the annotations within this tool to interpret the biological and clinical significance of specific mutations in patients.
						</p>	
						<p>
							<strong>Technology Used:</strong>
							<span style="color: rgba(138, 227, 77, 1);">Spring</span>
							<span style="color:rgba(91, 67, 134, 1);">HTML</span>
            				<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
            				<span style="color: rgba(30, 65, 111, 1);">Mysql</span>
            				<span style="color: rgba(51, 51, 51, 1);">Apache Tomcat</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/openeyecad/eyecad.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Open Eye Cad<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<span style="color:#F60;">MIT REDx 2015</span>
						<p class="date">Mar 2015</p>
					</div>
					<div class="card-action">
						<a href="http://ayusharma.in/openhealth/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/openhealth" target="_blank"><i class="fa fa-github"></i></a>
						<a href="/#/projects/openeyecad" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Open Eye Cad<i class="mdi-navigation-close right"></i></span>
						<p>
							An Interactive Open Source Repository for the customization of CAD modals of Eye instrument in Medical Science.
						</p>	
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(91, 67, 134, 1);">HTML</span>
            				<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
							<span style="color:rgba(91, 67, 134, 1);">OpenJs Cad</span>
            				<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
							<span style="color:rgba(30, 65, 111, 1);">GIMP</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/spiffout/spiffout.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Spiff Out<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<span style="color:#F60;">Internship</span>
						<p class="date">Jul 2014 - Aug 2014 &amp; Dec 2014 - Jan 2015</p>
					</div>
					<div class="card-action">
						<a href="https://spiffout.com" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<!-- <a href="#"><i class="tiny mdi-file-cloud-done"></i></a> -->
						<a href="/#/projects/spiffout" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Spiff Out<i class="mdi-navigation-close right"></i></span>
						<p>A web based consumer engagement platform which connects consumers to businesses and provides consumer satisfaction analytics.
						</p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
							<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
							<span style="color:rgba(30, 65, 111, 1);">LESS</span>
							<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
							<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
							<span style="color:rgba(30, 65, 111, 1);">GIMP</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/canceranalysis/cancer.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Cancer Genome Analysis<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">March 2015</p>
					</div>
					<div class="card-action">
						<a href="http://ayusharma.in/exception-responder-proto/app/#/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/exception-responder-proto" target="_blank"><i class="fa fa-github"></i></a>
						<a href="https://github.com/ayusharma/exception-responder-proto" target="_blank"><i class="fa fa-youtube-play"></i></a>
						<a href="/#/projects/canceranalysis" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Cancer Genome Analysis<i class="mdi-navigation-close right"></i></span>
						<p>A D3.JS &amp; Angular JS based project to analyzes cancer genome data of normal patient with respect to exceptional responder
patients to find the survival rate of normal patients along with Data mining tool for visualization of biopsies.</p>	
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
            				<span style="color: rgba(231, 158, 53, 1);">D3 JS</span>
            				<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
            				<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
						</p>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/openhealth/openhealth.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Open Health<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Mar 2015</p>
					</div>
					<div class="card-action">
						<a href="http://ayusharma.in/openhealth/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/openhealth" target="_blank"><i class="fa fa-github"></i></a>
						<a href="https://github.com/ayusharma/exception-responder-proto" target="_blank"><i class="fa fa-youtube-play"></i></a>
						<a href="/#/projects/openhealth" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Open Health<i class="mdi-navigation-close right"></i></span>
						<p>A D3.JS based project which provides analytics of American counties, according to the diseases.</p>	
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
            				<span style="color: rgba(231, 158, 53, 1);">D3 JS</span>
            				<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/wordmatch/word.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Word Matching<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Feb 2015</p>
					</div>
					<div class="card-action">
						<a href="http://durable-trainer-852.appspot.com/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/Word-Match" target="_blank"><i class="fa fa-github"></i></a>
						<a href="/#/projects/wordmatch" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Word Matching<i class="mdi-navigation-close right"></i></span>
						<p>A python based project which find the frequency of the entered words and along with it’s stemming words in the specified files.The project works on the Flask. Google App Engine and D3.js.</p>
						<p>
						<strong>Technology Used:</strong>
						<span style="color:rgba(91, 67, 134, 1);">HTML</span>
						<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
						<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
						<span style="color: rgba(74, 152, 200, 1);">Python</span>
						<span style="color: rgba(0, 102, 255, 1);">App Engine</span>
						<span style="color:rgba(91, 67, 134, 1);">Bootstrap</span>
						<span style="color: rgba(231, 158, 53, 1);">D3 JS</span>
						<span style="color: rgba(189, 189, 188, 1);">Flask</span>

						</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/bloodcollective/blood.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Blood Collective<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<span style="color:#F60;">MIT Media Lab</span>
						<p class="date">Jan 2015</p>
					</div>
					<div class="card-action">
						<a href="http://ayusharma.in/bloodcollective.apk" target="_blank"><i class="tiny mdi-action-android"></i></a>
						<a href="https://github.com/ayusharma/bloodcollectiveionic" target="_blank"><i class="fa fa-github"></i></a>
						<a href="/#/projects/bloodcollective" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Blood Collective<i class="mdi-navigation-close right"></i></span>
						<p>A community driven blood donation network application which gives the real time geo location of the blood donors. The application has been prototyped in MIT Media Lab Design Innovation Workshop 2015 ​</p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
							<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
							<span style="color: rgba(83, 86, 82, 1);">Apache Cordova</span>
							<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/birthday/birthday.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Happy Birthday<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">6 Jan 2015</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/khushbu/birthday/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/birthday" target="_blank"><i class="fa fa-github"></i></a>
						<a href="/#/projects/bithday" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Happy Birthday<i class="mdi-navigation-close right"></i></span>
						<p>An e-Birthday card to wish Happy Birthday.</p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
							<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
							<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<br><h5>2014</h5><br>
		<div class="row">
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/kiwi/kiwi.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Kiwi<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Nov 2014</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/kiwi/#/tab/dash" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/kiwi" target="_blank"><i class="fa fa-github"></i></a>
						<a href="https://play.google.com/store/apps/details?id=com.ionicframework.kiwi474449" target="_blank"><i class="tiny mdi-action-android"></i></a>
						<a href="https://marketplace.firefox.com/app/kiwi?src=search" target="_blank"><i class="fa fa-firefox"></i></a>
						<a href="/#/projects/kiwi" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Kiwi<i class="mdi-navigation-close right"></i></span>
						<p>A Dictionary application for Android and Firefox OS, which provide definition, examples, pronunciation &amp; much more of the input word.</p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
							<span style="color:rgba(225, 88, 85, 1);">Angular JS</span>
							<span style="color: rgba(83, 86, 82, 1);">Apache Cordova</span>
							<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/ayusharma/portfolio.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">ayusharma.in<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Oct 2014</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/khushbu/birthday/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/birthday" target="_blank"><i class="fa fa-github"></i></a>
						<a href="/#/projects/ayusharma" class="pull-right no-margin-right">More</a>
					</div>	
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">ayusharma.in<i class="mdi-navigation-close right"></i></span>
						<p>My old portfolio, based on Google's Web Starter Kit.</p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
							<span style="color: rgba(84, 138, 86, 1);">JS</span>
							<span style="color: rgba(30, 65, 111, 1);">Gulp</span>
							<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/firstapi/api.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">My First API<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Sept 2014</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/coadjuvancy/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/php-json" target="_blank"><i class="fa fa-github"></i></a>
						<a href="/#/projects/firstapi" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">My First API<i class="mdi-navigation-close right"></i></span>
						<p>I implmented the GET REST API, which is used by application <a href="http://pixelcount.net/khushbu/coadjuvancy" target="_blank">Coadjuvancy.</a></p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(142, 139, 139, 1);">PHP</span>
							<span style="color: rgba(30, 65, 111, 1);">Mysql</span>
							<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/india/india.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">India<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">15 Aug 2014</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/india" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/india" target="_blank"><i class="fa fa-github"></i></a>
						<a href="/#/projects/india" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">India<i class="mdi-navigation-close right"></i></span>
						<p>A mini project to tribute the freedom fighters of India.</p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
							<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
							<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/medicalassist/mp.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Medical Assistance System<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Apr 2014</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/mp" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/medical_project" target="_blank"><i class="fa fa-github"></i>
						</a>
						<a href="/#/projects/" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Medical Assistance System<i class="mdi-navigation-close right"></i></span>
						<p>An undergraduate college project which gives the details of the doctors on the basis of symptoms.</p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(142, 139, 139, 1);">PHP</span>
							<span style="color: rgba(30, 65, 111, 1);">Mysql</span>
							<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
							<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
							<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/firefoxos/ffos.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Firefox OS<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">June 2014</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/mp" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/medical_project" target="_blank"><i class="fa fa-github"></i></a>
						<a href="/#/projects/kiwi" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Firefox OS<i class="mdi-navigation-close right"></i></span>
						<p>A Firefox OS application to demo the interactivity of technologies.</p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
							<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
							<span style="color:rgba(30, 65, 111, 1);">GIMP</span>
							<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<br><h5>2013</h5><br>
		<div class="row">
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/pixelcount/pixelcount.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Pixelcount Creative Labs<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">July 2013 - Till Present</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/pixelcount" target="_blank"><i class="fa fa-github"></i></a>
						<a href="/#/projects/pixelcount" class="pull-right no-margin-right">More</a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Pixelcount Creative Labs<i class="mdi-navigation-close right"></i></span>
						<p>A personal project and self-startup to learn, deploy new technologies to get into web designing &amp; live Streaming. It comprises a digital ocean droplet with responsive designed website, Databases, Mail server &amp; GNU/Linux.</p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(142, 139, 139, 1);">PHP</span>
							<span style="color: rgba(30, 65, 111, 1);">Mysql</span>
							<span style="color:rgba(228, 78, 37, 1);">HTML5</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS3</span>
							<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
							<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/rajlive/rl.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Rajasthan Live<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Mar 2013 - Apr 2013</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/rajasthan-live.com/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="/#/projects/rajlive" class="pull-right no-margin-right">More</a>
						<!-- <a href="https://github.com/ayusharma/india" target="_blank"><i class="fa fa-github"></i></a> -->
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Rajasthan Live<i class="mdi-navigation-close right"></i></span>
						<p>A live webcast website for Drashty which comprises RTMP based live streaming.I used HTML, CSS, JS (jQuery) and gone through the study of various media servers.</p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(228, 78, 37, 1);">HTML</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS</span>
							<span style="color:rgba(53, 88, 168, 1)">jQuery</span>
							<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
							<span style="color: rgba(30, 65, 111, 1);">Media Servers</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/igniters/igniters.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Igniters<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Jan 2013 - Feb 2013</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/rajasthan-live.com/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/india" target="_blank"><i class="fa fa-github"></i></a>
						<a href="/#/projects/igniters" class="pull-right no-margin-right">More</a>

					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Igniters<i class="mdi-navigation-close right"></i></span>
						<p>
							A project made for learning development and provide online learning.
						</p>
						<p>
							<strong>Technology Used:</strong>
							<span style="color:rgba(228, 78, 37, 1);">HTML</span>
							<span style="color:rgba(16, 115, 187, 1);">CSS</span>
							<span style="color: rgba(84, 138, 86, 1);">JS</span>
							<span style="color: rgba(51, 51, 51, 1);">Ububtu</span>
							<span style="color: rgba(30, 65, 111, 1);">Media Servers</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
