<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<h4><i class="small mdi-action-label"></i>&nbsp;My Projects</h4>
		<hr>
		<br><h5>2015</h5><br>
		<div class="row">
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/spiffout.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Spiff Out<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<span style="color:#F60;">Internship</span>
						<p class="date">Jul 2014 - Aug 2014 &amp; Dec 2014 - Jan 2015</p>
					</div>
					<div class="card-action">
						<a href="https://spiffout.com" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="#"><i class="tiny mdi-file-cloud-done"></i></a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Spiff Out<i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/cancer.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Cancer Genome Analysis<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">March 2015</p>
					</div>
					<div class="card-action">
						<a href="http://ayusharma.in/exception-responder-proto/app/#/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/exception-responder-proto" target="_blank"><i class="fa fa-github"></i></a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/openhealth.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Open Health<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Mar 2015</p>
					</div>
					<div class="card-action">
						<a href="http://ayusharma.in/openhealth/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/openhealth" target="_blank"><i class="fa fa-github"></i></a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/word.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Word Matching<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Feb 2015</p>
					</div>
					<div class="card-action">
						<a href="http://durable-trainer-852.appspot.com/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/Word-Match" target="_blank"><i class="fa fa-github"></i></a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/blood.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Blood Collective<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Jan 2015</p>
					</div>
					<div class="card-action">
						<a href="http://ayusharma.in/bloodcollective.apk" target="_blank"><i class="tiny mdi-action-android"></i></a>
						<a href="https://github.com/ayusharma/bloodcollectiveionic" target="_blank"><i class="fa fa-github"></i></a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/birthday.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Happy Birthday<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">6 Jan 2015</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/khushbu/birthday/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/birthday" target="_blank"><i class="fa fa-github"></i></a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
		</div>
		<br><h5>2014</h5><br>
		<div class="row">
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/kiwi.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Kiwi<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Nov 2014</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/kiwi/#/tab/dash" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/kiwi" target="_blank"><i class="fa fa-github"></i></a>
						<a href="https://play.google.com/store/apps/details?id=com.ionicframework.kiwi474449" target="_blank"><i class="tiny mdi-action-android"></i></a>
						<a href="https://marketplace.firefox.com/app/kiwi?src=search" target="_blank"><i class="fa fa-circle"></i></a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/portfolio.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Portfolio<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Oct 2014</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/khushbu/birthday/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/birthday" target="_blank"><i class="fa fa-github"></i></a>
					</div>	
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/api.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">My First API<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Sept 2014</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/coadjuvancy/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/php-json" target="_blank"><i class="fa fa-github"></i></a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/india.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">India<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Aug 2014</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/india" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/india" target="_blank"><i class="fa fa-github"></i></a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/mp.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Medical Assistance System<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Apr 2014</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/mp" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/medical_project" target="_blank"><i class="fa fa-github"></i></a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
		</div>
		<br><h5>2013</h5><br>
		<div class="row">
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/pixelcount.jpg">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Pixelcount Creative Labs<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">July 2013 - Till Present</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<a href="https://github.com/ayusharma/pixelcount" target="_blank"><i class="fa fa-github"></i></a>
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
			<div class="col l4 m12 s12 align-center">
				<div class="card small">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="images/rl.png">
					</div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">Rajasthan Live<i class="mdi-navigation-more-vert right"></i></span>&nbsp;&nbsp;
						<p class="date">Mar 2013 - Apr 2013</p>
					</div>
					<div class="card-action">
						<a href="http://pixelcount.net/rajasthan-live.com/" target="_blank"><i class="tiny mdi-social-public"></i></a>
						<!-- <a href="https://github.com/ayusharma/india" target="_blank"><i class="fa fa-github"></i></a> -->
					</div>
					<div class="card-reveal ">
						<span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
						<p>Here is some more information about this product that is only revealed once clicked on.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
