<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<h4>#My Projects</h4>
		<hr>
		<p>This Year</p>
		<div class="row">
			<div class="col l3 m3 s12">
				<div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/office.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
        
			</div>
		</div>
	</div>
</div>
