<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<h5> <i class="small material-icons" style="vertical-align:text-top;">label_outline</i> Resume &amp; CV </h5>
		<hr>
		<br>
		<a class="waves-effect waves-light btn margin-bottom-2x margin-right-1x" target="_blank" href="/cv.pdf">Download CV</a>
		<a class="waves-effect waves-light btn margin-bottom-2x" target="_blank" href="/resume_new.pdf">Download Resume</a>
		<br><br>
		<br>
		<div class="row">
			<div class="col l12 m12 s12">
				<iframe src="resume_new.pdf"></iframe>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col l12 m12 s12">
				<iframe src="cv.pdf"></iframe>
			</div>
		</div> -->
	</div>
</div>
