<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<h4>#My Skills</h4>
		<hr>
		<p>Technologies</p>
		<div class="row">
			<div class="col l3 m2 s4 center-align">
            	<img src="images/html.png" alt="" class="responsive-img"><br>
            	<span>HTML</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/css.png" alt="" class="responsive-img"><br>
            	<span>CSS</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/less.png" alt="" class="responsive-img"><br>
            	<span>LESS</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/bootstrap.png" alt="" class="responsive-img"><br>
            	<span>BootStrap</span>
			</div>
		</div>
		<div class="row">
			<div class="col l3 m2 s4 center-align">
            	<img src="images/js.png" alt="" class="responsive-img"><br>
            	<span>JS</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/jquery.png" alt="" class="responsive-img"><br>
            	<span>jQuery</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/d3.png" alt="" class="responsive-img"><br>
            	<span>D3 JS</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/angular.png" alt="" class="responsive-img"><br>
            	<span>Angular JS</span>
			</div>
		</div>
		<div class="row">
			<div class="col l3 m2 s4 center-align">
            	<img src="images/python.png" alt="" class="responsive-img"><br>
            	<span>Python</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/php.png" alt="" class="responsive-img"><br>
            	<span>PHP</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/mysql.png" alt="" class="responsive-img"><br>
            	<span>Mysql</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/appengine.png" alt="" class="responsive-img"><br>
            	<span>App Engine</span>
			</div>
		</div>
		<div class="row">
			<div class="col l3 m2 s4 center-align">
            	<img src="images/cordova.png" alt="" class="responsive-img"><br>
            	<span>Apache Cordova</span>
			</div>
			<!-- <div class="col l3 m2 s4 center-align">
            	<img src="images/php.png" alt="" class="responsive-img"><br>
            	<span>PHP</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/mysql.png" alt="" class="responsive-img"><br>
            	<span>Mysql</span>
			</div> -->
			<div class="col l3 m2 s4 center-align">
            	<img src="images/git.png" alt="" class="responsive-img"><br>
            	<span>Github</span>
			</div>
		</div>
		<p>Designing Tools</p>
		<div class="row">
			<div class="col l3 m2 s4 center-align">
            	<img src="images/gimp.png" alt="" class="responsive-img"><br>
            	<span>GIMP</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/photoshop.png" alt="" class="responsive-img"><br>
            	<span>Photoshop</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/illustrator.png" alt="" class="responsive-img"><br>
            	<span>Illustrator</span>
			</div>
		</div>
		<p>Operating Systems</p>
		<div class="row">
			<div class="col l3 m2 s4 center-align">
            	<img src="images/ubuntu.png" alt="" class="responsive-img"><br>
            	<span>Ububtu</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/redhat.png" alt="" class="responsive-img"><br>
            	<span>Redhat</span>
			</div>
			<div class="col l3 m2 s4 center-align">
            	<img src="images/windows.png" alt="" class="responsive-img"><br>
            	<span>Windows</span>
			</div>
		</div>
	</div>
</div>
