<loading></loading>
<div class="col s12 m8 offset-m2 l6 offset-l3 margin-bottom-2x center">
	<div class="row">
		<p class="flow-text center-align">
			<i>"The best way to learn the value of good interface design is to use lots of interfaces — some good, some bad. Experience will teach you what works and what doesn’t. Never assume that a painful interface is "just the way it is." Fix it, or wrap it in"
			― Marijn Haverbeke</i>
		</p>
	</div>
	<iframe src="https://www.slideshare.net/ayushsharma469/slideshelf" width="760px" height="570px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
</div>
