<div class="col s12 m8 offset-m2 l6 offset-l3 margin-bottom-2x">
	<div class="row">
		<div class="col l12 m12 s12">
		    <p class="flow-text center-align">
					<i>"I’m great at a command prompt but my spelling and grammar are awful. I write terribly."</i>
				</p>
		</div>
		<div class="col l12 m12 s12" ng-repeat="post in writing.data.items">
			<div class="section">
				<span class="flow-text text-small">
					{{ post.created | date:'mediumDate'}}
				</span>
				<h6>
					<a href="{{post.link}}">{{ post.title }}</a>
				</h6>
			</div>
			<div class="divider"></div>
		</div>
	</div>
</div>
