  <!-- <div class="navbar-fixed"> -->
  <nav>
    <div class="nav-wrapper teal darken-2">
      <a href="" class="brand-logo">&nbsp;&nbsp;<b>A<span class="name">YUSH</span>&nbsp;<span class="name">SHARMA</span></b></a>
      
      <ul class="right hide-on-med-and-down nav-links">
        <li><a  class="waves-effect waves-light" href="#/">About</a></li>
        <li><a  class="waves-effect waves-light" href="#/skills">Skills</a></li>
        <li><a  class="waves-effect waves-light" href="#/projects">Projects</a></li>
        <li><a  class="waves-effect waves-light" href="#/resume">CV</a></li>
        <li><a  class="waves-effect waves-light" href="#/milestone">Journey</a></li>
        <li><a  class="waves-effect waves-light" href="#/explore">Gallery</a></li>
        <!-- <li><a  class="waves-effect waves-light" href="#/blog">Blog</a></li> -->
        <li><a  class="waves-effect waves-light" href="#/contact">Contact</a></li>
      </ul>
      <!-- <ul class="side-nav" id="slide-out">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="javascript.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul> -->
      <a data-ng-click="slideIt()" data-activates="slide-out" class="button-collapse" style="cursor:pointer;"> <i class="material-icons">view_headline</i></a>
    </div>
  </nav>
  <!-- </div> -->