  <!-- <div class="navbar-fixed"> -->
  <nav>
    <div class="nav-wrapper teal darken-2">
      <a href="#!" class="brand-logo">&nbsp;&nbsp;<b>A<span class="name">YUSH</span>&nbsp;<span class="name">SHARMA</span></b></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down nav-links">
        <li><a  class="waves-effect waves-light" href="#/">About</a></li>
        <li><a  class="waves-effect waves-light" href="#/explore">Explore</a></li>
        <li><a  class="waves-effect waves-light" href="#/skills">Skills</a></li>
        <li><a  class="waves-effect waves-light" href="#/projects">Projects</a></li>
        <li><a  class="waves-effect waves-light" href="#/resume">Resume</a></li>
        <li><a  class="waves-effect waves-light" href="#/milestone">Milestones</a></li>
        <li><a  class="waves-effect waves-light" href="#/contact">Contact</a></li>
      </ul>
      <!-- <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="components.html">Components</a></li>
        <li><a href="javascript.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul> -->
    </div>
  </nav>
  <!-- </div> -->