<nav class="margin-bottom-5x hide-for-print">
  <div class="nav-wrapper">
    <ul class="right nav-links">
      <li><a class="waves-effect waves-light" ng-class="{'view-path': path === '/'}" href="#/">Intro</a></li>
      <li><a class="waves-effect waves-light" ng-class="{'view-path': path === '/writing'}" href="#/writing">Writing</a></li>
      <li><a class="waves-effect waves-light" ng-class="{'view-path': path === '/projects'}" href="#/projects">Projects</a></li>
      <li><a class="waves-effect waves-light" ng-class="{'view-path': path === '/resume'}" href="#/resume">Resume</a></li>
    </ul>
  </div>
</nav>
