<div class="collection links-mobile">
	<!-- <a href="#!" class="collection-item">Alvin</a>
	<a href="#!" class="collection-item">Alvin</a>
	<a href="#!" class="collection-item">Alvin</a>
	<a href="#!" class="collection-item">Alvin</a> -->
	     <a  class="waves-effect waves-light collection-item" href="#/">About</a>
        <a  class="waves-effect waves-light collection-item" href="#/skills">Skills</a>
        <a  class="waves-effect waves-light collection-item" href="#/projects">Projects</a>
        <a  class="waves-effect waves-light collection-item" href="#/resume">CV</a>
        <a  class="waves-effect waves-light collection-item" href="#/milestone">Journey</a>
        <a  class="waves-effect waves-light collection-item" href="#/explore">Gallery</a>
        <!-- <a  class="waves-effect waves-light" href="#/blog">Blog</a> -->
        <a  class="waves-effect waves-light collection-item" href="#/contact">Contact</a>
</div>
            
        