<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<h5> <i class="small material-icons" style="vertical-align:text-top;">label_outline</i> A Click Away</h5>
		<hr>
		<br><h5>Feel free to contact me.</h5><br>
		<div class="row">
			<div class="col l12 m12 s12">
				<!-- <img src="images/qrcode.jpeg" height="100">		 -->
				<p class="flow-text">
					<b>IRC - FREENODE:</b>&nbsp;&nbsp;ayushpix <br>
					<b>Email:</b>&nbsp;&nbsp;ayush.aceit@gmail.com<br>
					<b>Contact No.:</b>&nbsp;&nbsp;+91-8946-920-261<br>
				</p>
			</div>
			<div class="col l12 m12 s12">
				<p class="flow-text">
					<b>Find me on</b><br>
					<a class="margin-right-1x" target="_blank" style="color:#333; text-decoration:none;" href="https://github.com/ayusharma"><i class="fa fa-github-square fa-3x"></i></a>
					<a class="margin-right-1x" target="_blank" style="color:#333; text-decoration:none;" href="https://twitter.com/ayusharma_"><i class="fa fa-twitter-square fa-3x"></i></a>
					<a class="margin-right-1x" target="_blank" style="color:#333; text-decoration:none;" href="https://in.linkedin.com/in/ayushpix"><i class="fa fa-linkedin-square fa-3x"></i></a>
					<a class="margin-right-1x" target="_blank" style="color:#333; text-decoration:none;" href="https://facebook.com/ayusharma.in"><i class="fa fa-facebook-square fa-3x"></i></a>
					<a class="margin-right-1x" target="_blank" style="color:#333; text-decoration:none;" href="https://instagram.com/ayusharma.in"><i class="fa fa-instagram fa-3x"></i></a>
				</p>				
			</div>
		</div>
	</div>
</div>
