<div class="col s12 m8 offset-m2 l6 offset-l3">
	<div class="card-panel white z-depth-1">
		<h5> <i class="small material-icons" style="vertical-align:text-top;">label_outline</i> Gallery</h5>
		<hr>
		<p class="flow-text" style="font-size:18px;">
			I have an interest in photography and keep the best shots on Instagram.
		</p>
		<div class="row" data-ng-controller="InstaCtrl">
	        <div class="col s12 m3" ng-repeat="x in method.instagram">
	        	<a href="{{ x.link }}" target="_blank" ng-if="x.tags.indexOf('family') < 0 ">
	          <div class="card hoverable">
	            <div class="card-image">
	              <img class="" ng-src="{{ x.images.standard_resolution.url }}">
	              <!-- <span class="card-title"> {{ x.tags }}</span> -->
	            </div>
	            <div class="card-content">
	              <p class="truncate"> {{ x.caption.text}}</p>
	            </div>
	            <!-- <div class="card-action">
	              <a href="#">This is a link</a>
	            </div> -->
	          </div>
	          </a>
	        </div>
		</div>
	</div>
</div>
